# Build the Series

In [1]:
import numpy as np
import pandas as pd
pd.Series?

In [1]:
s = {'0':'simon',
    '1': 'Li',
    '2': 'Wei'}

In [2]:
s

{'0': 'simon', '1': 'Li', '2': 'Wei'}

In [4]:
pd.Series(s)

0    simon
1       Li
2      Wei
dtype: object

In [8]:
animals = ['Dog','Cat','Tiger']
pd.Series(animals)

0      Dog
1      Cat
2    Tiger
dtype: object

In [9]:
numbers = [1,2,3,4,5]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
animals = ['Dog','Cat','Tiger', None]
pd.Series(animals)

0      Dog
1      Cat
2    Tiger
3     None
dtype: object

In [6]:
numbers = [1,2,3,4,5,None]
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    NaN
dtype: float64

In [7]:
import numpy as np
np.nan == None
np.nan == np.nan

False

In [ ]:
np.isnan(np.nan)

In [9]:
sports = {'China': 'Wushu',
    'Japan': 'Suo',
    'Newzeland': 'Footbal'}
s = pd.Series(sports)
s

China          Wushu
Japan            Suo
Newzeland    Footbal
dtype: object

In [10]:
s.index

Index([u'China', u'Japan', u'Newzeland'], dtype='object')

In [11]:
s = pd.Series(['Tiger', 'Cat', 'Lion'], index =['China', 'Japan', 'India'])

In [12]:
s

China    Tiger
Japan      Cat
India     Lion
dtype: object

# Query the Series

In [8]:
sports = {'China': 'Wushu',
    'Japan': 'Suo',
    'Newzeland': 'Footbal'}
s = pd.Series(sports)
s

China          Wushu
Japan            Suo
Newzeland    Footbal
dtype: object

In [11]:
s.iloc[2]

'Footbal'

In [12]:
s.loc['Japan']

'Suo'

In [13]:
s[2]

'Footbal'

In [14]:
s['China']

'Wushu'

In [13]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [14]:
#Calculate the total of list
total = 0
for i in s:
    total += i
print (total)

324.0

In [15]:
# Vectorization for list to accelerate the calculation speed
import numpy as np
total = np.sum(s)
print (total)

324.0

In [16]:
#Test the running speed
import pandas as pd
s = pd.Series(np.random.randint(0, 1000, 10000))
s.head()

0    378
1     79
2    484
3    582
4     52
dtype: int32

In [17]:
len(s)

10000

In [18]:
%%timeit -n 100
summary = 0
for i in s:
    summary += i

100 loops, best of 3: 1.25 ms per loop

In [19]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 187 µs per loop

In [20]:
s = s+2
s.head()

0    380
1     81
2    486
3    584
4     54
dtype: int32

In [27]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

0    626
1    843
2    277
3    645
4    883
dtype: int32

In [ ]:
%%timeit -n 100
s = pd.Series(np.random.randint(0, 1000, 10000))
for label, value in s.iteritems():
    s.loc[label] = value + 2

In [ ]:
%%timeit -n 100
s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

In [ ]:
import numpy as np
import pandas as pd
s = pd.Series([1,2,34])
s.head()

In [ ]:
s.loc['China'] = 'Tiger'
s.head()

# The DataFrame structure

In [3]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                       'Item Purchased':'Dog Food',
                       'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kenvy',
                       'Item Purchased':'Kitty Litter',
                       'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vimod',
                       'Item Purchased':'Bird Seed',
                       'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index = ['Store1', 'Store1', 'Store2'])
df.head()

        Cost Item Purchased   Name
Store1  22.5       Dog Food  Chris
Store1   2.5   Kitty Litter  Kenvy
Store2   5.0      Bird Seed  Vimod

In [7]:
df.loc['Store2']

Cost                      5
Item Purchased    Bird Seed
Name                  Vimod
Name: Store2, dtype: object

In [12]:
type(df.loc['Store1'])

pandas.core.frame.DataFrame

In [6]:
df.loc['Store1']

        Cost Item Purchased   Name
Store1  22.5       Dog Food  Chris
Store1   2.5   Kitty Litter  Kenvy

In [15]:
df.loc['Store1', 'Cost']
df.loc['Store1', ['Cost', 'Item Purchased']]

        Cost Item Purchased
Store1  22.5       Dog Food
Store1   2.5   Kitty Litter

In [16]:
df.T

                  Store1        Store1     Store2
Cost                22.5           2.5          5
Item Purchased  Dog Food  Kitty Litter  Bird Seed
Name               Chris         Kenvy      Vimod

In [9]:
df.T.loc['Cost']

Store1    22.5
Store1     2.5
Store2       5
Name: Cost, dtype: object

In [10]:
df.loc['Store1']['Cost']

Store1    22.5
Store1     2.5
Name: Cost, dtype: float64

In [12]:
df.drop('Store1')

        Cost Item Purchased   Name
Store2   5.0      Bird Seed  Vimod

In [13]:
type(df.drop('Store1'))

pandas.core.frame.DataFrame

In [14]:
df.head()

        Cost Item Purchased   Name
Store1  22.5       Dog Food  Chris
Store1   2.5   Kitty Litter  Kenvy
Store2   5.0      Bird Seed  Vimod

In [15]:
copy_drop = df.copy()
copy_drop = copy_drop.drop('Store1')
copy_drop

        Cost Item Purchased   Name
Store2   5.0      Bird Seed  Vimod

In [17]:
del copy_drop['Name']
copy_drop

        Cost Item Purchased
Store2   5.0      Bird Seed

In [19]:
df['Location']= None
df

        Cost Item Purchased   Name Location
Store1  22.5       Dog Food  Chris     None
Store1   2.5   Kitty Litter  Kenvy     None
Store2   5.0      Bird Seed  Vimod     None

# DataFrame indexing and loading

In [22]:
costs = df['Cost']
costs

Store1    22.5
Store1     2.5
Store2     5.0
Name: Cost, dtype: float64

In [23]:
costs += 2
costs

Store1    24.5
Store1     4.5
Store2     7.0
Name: Cost, dtype: float64

In [24]:
df

        Cost Item Purchased   Name Location
Store1  24.5       Dog Food  Chris     None
Store1   4.5   Kitty Litter  Kenvy     None
Store2   7.0      Bird Seed  Vimod     None

In [28]:
!more olympics.csv

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
,鈩?Summer,01 !,02 !,03 !,Total,鈩?Winter,01 !,02 !,03 !,Total,鈩?Games,01 !,02 !,03 !,Combined total
Afghanistan聽(AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria聽(ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina聽(ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia聽(ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia聽(ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
Australia聽(AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
Austria聽(AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
Azerbaijan聽(AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
Bahamas聽(BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
Bahrain聽(BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Barbados聽(BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Belarus聽(BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
Belgium聽(BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
Bermuda聽(BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
Bohemia聽(BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
Botswana聽(BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Brazil聽(BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
British West Indies聽(BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
Bulgaria聽(BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
Burundi聽(BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
Cameroon聽(CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
Canada聽(CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
Chile聽(CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
China聽(CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
Colombia聽(COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
Costa Rica聽(CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
Ivory Coast聽(CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
Croatia聽(CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
Cuba聽(CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Cyprus聽(CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
Czech Republic聽(CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
Czechoslovakia聽(TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
Denmark聽(DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
Djibouti聽(DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
Dominican Republic聽(DOM),13,3,2,1,6,0,0,0,0,0,13,3,2,1,6
Ecuador聽(ECU),13,1,1,0,2,0,0,0,0,0,13,1,1,0,2
Egypt聽(EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
Eritrea聽(ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
Estonia聽(EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
Ethiopia聽(ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
Finland聽(FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
France聽(FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
Gabon聽(GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
Georgia聽(GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
Germany聽(GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of Germany聽(EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East Germany聽(GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West Germany聽(FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Ghana聽(GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
Great Britain聽(GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
Greece聽(GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
Grenada聽(GRN),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
Guatemala聽(GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
Guyana聽(GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
Haiti聽(HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
Hong Kong聽(HKG) [HKG],15,1,1,1,3,4,0,0,0,0,19,1,1,1,3
Hungary聽(HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
Iceland聽(ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
India聽(IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
Indonesia聽(INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
Iran聽(IRI) [K],15,15,20,25,60,10,0,0,0,0,25,15,20,25,60
Iraq聽(IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
Ireland聽(IRL),20,9,8,12,29,6,0,0,0,0,26,9,8,12,29
Israel聽(ISR),15,1,1,5,7,6,0,0,0,0,21,1,1,5,7
Italy聽(ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
Jamaica聽(JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
Japan聽(JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
Kazakhstan聽(KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
Kenya聽(KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North Korea聽(PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South Korea聽(KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
Kuwait聽(KUW),12,0,0,2,2,0,0,0,0,0,12,0,0,2,2
Kyrgyzstan聽(KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
Latvia聽(LAT),10,3,11,5,19,10,0,4,3,7,20,3,15,8,26
Lebanon聽(LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
Liechtenstein聽(LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
Lithuania聽(LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
Luxembourg聽(LUX) [O],22,1,1,0,2,8,0,2,0,2,30,1,3,0,4
Macedonia聽(MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
Malaysia聽(MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
Mauritius聽(MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
Mexico聽(MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
Moldova聽(MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
Mongolia聽(MGL),12,2,9,13,24,13,0,0,0,0,25,2,9,13,24
Montenegro聽(MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
Morocco聽(MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
Mozambique聽(MOZ),9,1,0,1,2,0,0,0,0,0,9,1,0,1,2
Namibia聽(NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
Netherlands聽(NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
Netherlands Antilles聽(AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
New Zealand聽(NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
Niger聽(NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
Nigeria聽(NGR),15,3,8,12,23,0,0,0,0,0,15,3,8,12,23
Norway聽(NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
Pakistan聽(PAK),16,3,3,4,10,2,0,0,0,0,18,3,3,4,10
Panama聽(PAN),16,1,0,2,3,0,0,0,0,0,16,1,0,2,3
Paraguay聽(PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
Peru聽(PER) [L],17,1,3,0,4,2,0,0,0,0,19,1,3,0,4
Philippines聽(PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
Poland聽(POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
Portugal聽(POR),23,4,8,11,23,7,0,0,0,0,30,4,8,11,23
Puerto Rico聽(PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
Qatar聽(QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
Romania聽(ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
Russia聽(RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Russian Empire聽(RU1) [RU1],3,1,4,3,8,0,0,0,0,0,3,1,4,3,8
Soviet Union聽(URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified Team聽(EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
Saudi Arabia聽(KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
Senegal聽(SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
Serbia聽(SRB) [SRB],3,1,2,4,7,2,0,0,0,0,5,1,2,4,7
Serbia and Montenegro聽(SCG) [SCG],3,2,4,3,9,3,0,0,0,0,6,2,4,3,9
Singapore聽(SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
Slovakia聽(SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
Slovenia聽(SLO),6,4,6,9,19,7,2,4,9,15,13,6,10,18,34
South Africa聽(RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
Spain聽(ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
Sri Lanka聽(SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
Sudan聽(SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
Suriname聽(SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
Sweden聽(SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
Switzerland聽(SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
Syria聽(SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
Chinese Taipei聽(TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
Tajikistan聽(TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
Tanzania聽(TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
Thailand聽(THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
Togo聽(TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
Tonga聽(TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
Trinidad and Tobago聽(TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
Tunisia聽(TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
Turkey聽(TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
Uganda聽(UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
Ukraine聽(UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United Arab Emirates聽(UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
United States聽(USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
Uruguay聽(URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
Uzbekistan聽(UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
Venezuela聽(VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
Vietnam聽(VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
Virgin Islands聽(ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
Yugoslavia聽(YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Independent Olympic Participants聽(IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
Zambia聽(ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
Zimbabwe聽(ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
Mixed team聽(ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [89]:
df = pd.read_csv('olympics.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12

In [39]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [35]:
df.columns

Index([u'№ Summer', u'01 !', u'02 !', u'03 !', u'Total', u'№ Winter',
       u'01 !.1', u'02 !.1', u'03 !.1', u'Total.1', u'№ Games', u'01 !.2',
       u'02 !.2', u'03 !.2', u'Combined total'],
      dtype='object')

In [42]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 
df.head()

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

# Querying a DataFrame

In [43]:
df['Gold'] > 0

Afghanistan (AFG)                               False
Algeria (ALG)                                    True
Argentina (ARG)                                  True
Armenia (ARM)                                    True
Australasia (ANZ) [ANZ]                          True
Australia (AUS) [AUS] [Z]                        True
Austria (AUT)                                    True
Azerbaijan (AZE)                                 True
Bahamas (BAH)                                    True
Bahrain (BRN)                                   False
Barbados (BAR) [BAR]                            False
Belarus (BLR)                                    True
Belgium (BEL)                                    True
Bermuda (BER)                                   False
Bohemia (BOH) [BOH] [Z]                         False
Botswana (BOT)                                  False
Brazil (BRA)                                     True
British West Indies (BWI) [BWI]                 False
Bulgaria (BUL) [H]                               True
Burundi (BDI)                                    True
Cameroon (CMR)                                   True
Canada (CAN)                                     True
Chile (CHI) [I]                                  True
China (CHN) [CHN]                                True
Colombia (COL)                                   True
Costa Rica (CRC)                                 True
Ivory Coast (CIV) [CIV]                         False
Croatia (CRO)                                    True
Cuba (CUB) [Z]                                   True
Cyprus (CYP)                                    False
                                                ...
Sri Lanka (SRI) [SRI]                           False
Sudan (SUD)                                     False
Suriname (SUR) [E]                               True
Sweden (SWE) [Z]                                 True
Switzerland (SUI)                                True
Syria (SYR)                                      True
Chinese Taipei (TPE) [TPE] [TPE2]                True
Tajikistan (TJK)                                False
Tanzania (TAN) [TAN]                            False
Thailand (THA)                                   True
Togo (TOG)                                      False
Tonga (TGA)                                     False
Trinidad and Tobago (TRI) [TRI]                  True
Tunisia (TUN)                                    True
Turkey (TUR)                                     True
Uganda (UGA)                                     True
Ukraine (UKR)                                    True
United Arab Emirates (UAE)                       True
United States (USA) [P] [Q] [R] [Z]              True
Uruguay (URU)                                    True
Uzbekistan (UZB)                                 True
Venezuela (VEN)                                  True
Vietnam (VIE)                                   False
Virgin Islands (ISV)                            False
Yugoslavia (YUG) [YUG]                           True
Independent Olympic Participants (IOP) [IOP]    False
Zambia (ZAM) [ZAM]                              False
Zimbabwe (ZIM) [ZIM]                             True
Mixed team (ZZX) [ZZX]                           True
Totals                                           True
Name: Gold, dtype: bool

In [58]:
only_gold = df.where(df['Gold'] > 3)
only_gold['Gold'].head()

Afghanistan (AFG)           NaN
Algeria (ALG)               5.0
Argentina (ARG)            18.0
Armenia (ARM)               NaN
Australasia (ANZ) [ANZ]     NaN
Name: Gold, dtype: float64

In [46]:
only_gold['Gold'].count()

100

In [47]:
df['Gold'].count()

147

In [49]:
only_gold = only_gold.dropna()
only_gold.head()

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Algeria (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
Argentina (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
Armenia (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
Australasia (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
Australia (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [54]:
len(df[(df['Gold']>0) | df['Gold.1']>0])

101

In [57]:
df[(df['Gold.1']>0) & (df['Gold'] == 0)]

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9

In [59]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})

df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [74]:
names = df.where(df['Cost'] > 3.00)
result = names.dropna()
# Display multiple row or column 
# http://www.cnblogs.com/kylinlin/p/5231404.html
result[['Name','Item Purchased']]

          Name Item Purchased
Store 1  Chris       Dog Food
Store 2  Vinod      Bird Seed

In [88]:
df['Name'][df['Cost']>3]

Store 1    Chris
Store 2    Vinod
Name: Name, dtype: object

# Indexing DataFrames

In [92]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 
df.head()

,№ Summer,Gold,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [93]:
df['country']=df.index
df = df.set_index('Gold')
df.head()

,№ Summer,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total,country
Gold,,,,,,,,,,,,,,,
0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [94]:
df = df.reset_index()
df.head()

,Gold,№ Summer,Silver,Bronze,Total,№ Winter,Gold.1,Silver.1,Bronze.1,Total.1,№ Games,Gold.2,Silver.2,Bronze.2,Combined total,country
0,0,13,0,2,2,0,0,0,0,0,13,0,0,2,2,Afghanistan (AFG)
1,5,12,2,8,15,3,0,0,0,0,15,5,2,8,15,Algeria (ALG)
2,18,23,24,28,70,18,0,0,0,0,41,18,24,28,70,Argentina (ARG)
3,1,5,2,9,12,6,0,0,0,0,11,1,2,9,12,Armenia (ARM)
4,3,2,4,5,12,0,0,0,0,0,2,3,4,5,12,Australasia (ANZ) [ANZ]

In [95]:
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [96]:
df['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [99]:
df = df[df['SUMLEV'] == 50]
len(df)

3142

In [100]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

,STNAME,CTYNAME,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
1,Alabama,Autauga County,151,636,615,574,623,600,54660,55253,55175,55038,55290,55347
2,Alabama,Baldwin County,517,2187,2092,2160,2186,2240,183193,186659,190396,195126,199713,203709
3,Alabama,Barbour County,70,335,300,283,260,269,27341,27226,27159,26973,26815,26489
4,Alabama,Bibb County,44,266,245,259,247,253,22861,22733,22642,22512,22549,22583
5,Alabama,Blount County,183,744,710,646,618,603,57373,57711,57776,57734,57658,57673

In [101]:
df = df.set_index(['STNAME','CTYNAME'])
df.head()

                        BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Autauga County         151         636         615         574
        Baldwin County         517        2187        2092        2160
        Barbour County          70         335         300         283
        Bibb County             44         266         245         259
        Blount County          183         744         710         646

                        BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Autauga County         623         600            54660
        Baldwin County        2186        2240           183193
        Barbour County         260         269            27341
        Bibb County            247         253            22861
        Blount County          618         603            57373

                        POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME  CTYNAME
Alabama Autauga County            55253            55175            55038
        Baldwin County           186659           190396           195126
        Barbour County            27226            27159            26973
        Bibb County               22733            22642            22512
        Blount County             57711            57776            57734

                        POPESTIMATE2014  POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55290            55347
        Baldwin County           199713           203709
        Barbour County            26815            26489
        Bibb County               22549            22583
        Blount County             57658            57673

In [107]:
df.loc['California']

,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
CTYNAME,,,,,,,,,,,,
Alameda County,4877,19219,18972,19466,19654,19996,1513754,1533052,1556952,1583845,1612850,1638215
Alpine County,2,6,6,6,7,4,1159,1111,1126,1144,1107,1110
Amador County,78,264,280,251,282,268,37873,37538,37099,36591,36744,37001
Butte County,623,2440,2397,2321,2501,2485,219977,220019,221205,222154,224033,225411
Calaveras County,74,333,356,323,348,349,45464,45101,44755,44574,44575,44828
Colusa County,70,336,302,314,312,316,21446,21389,21370,21389,21351,21482
Contra Costa County,3011,12335,11941,12245,12192,12534,1052921,1066636,1079290,1095959,1111710,1126745
Del Norte County,89,336,323,333,289,308,28566,28468,28201,27821,27194,27254
El Dorado County,382,1631,1598,1494,1553,1575,181148,180905,180579,181480,183050,184452
Fresno County,3893,16321,15950,15725,15954,16002,932462,940971,947713,955217,964983,974861
Glenn County,107,426,374,383,398,411,28110,28199,27955,27943,28030,28017
Humboldt County,384,1546,1434,1536,1521,1543,135026,135267,134703,134640,134831,135727
Imperial County,687,3128,3022,3032,3154,3127,174750,176372,177557,177579,179332,180191
Inyo County,39,194,230,213,236,228,18513,18399,18405,18403,18396,18260
Kern County,3487,14405,14206,14411,14331,14429,841682,849949,856576,865787,874190,882176
Kings County,569,2580,2397,2465,2348,2420,152367,151969,151201,150748,150108,150965
Lake County,162,743,726,740,762,776,64744,64264,63974,63803,64156,64591
Lassen County,85,299,303,283,302,281,34839,34298,33674,32176,31732,31345
Los Angeles County,31740,132649,129157,130647,129468,130070,9826009,9896602,9970436,10045175,10109436,10170292
Madera County,574,2440,2375,2287,2312,2412,151125,152089,152160,152125,154562,154998
Marin County,588,2384,2327,2322,2310,2290,252903,255403,256021,258552,260550,261221
Mariposa County,31,148,142,136,146,139,18260,18191,17855,17734,17636,17531
Mendocino County,305,1010,1122,1059,1047,1025,87811,87495,87522,87373,87683,87649
Merced County,1066,4302,4304,4190,4211,4219,256832,259784,261788,263312,266087,268455
Modoc County,27,100,76,83,60,67,9697,9497,9333,9110,9015,8965
Mono County,31,153,145,137,147,145,14246,14405,14322,14037,14057,13909
Monterey County,1673,6863,6808,6563,6514,6618,416413,421466,426441,429109,431293,433898
Napa County,388,1501,1529,1412,1485,1495,136810,137998,139055,140413,141551,142456
Nevada County,215,771,771,804,854,853,98777,98779,98288,98142,98763,98877
Orange County,9304,38238,37842,37621,37706,37776,3017866,3056084,3089343,3120180,3144961,3169776
Placer County,953,3851,3692,3691,3697,3735,350234,356832,361215,366858,371105,375391
Plumas County,41,168,157,147,159,154,19918,19684,19326,18841,18570,18409
Riverside County,7219,30999,30094,29924,30561,30828,2202286,2237433,2267556,2295816,2328329,2361026
Sacramento County,5026,20194,19537,19410,19687,19781,1422010,1435548,1448466,1462338,1481474,1501335
San Benito County,190,763,716,741,758,769,55557,56197,56885,57605,58308,58792
San Bernardino County,7465,31432,30164,30580,30489,30817,2041642,2064200,2079526,2091599,2110386,2128133
San Diego County,10719,44694,43841,43749,44184,44561,3104386,3142256,3184358,3223645,3265700,3299521
San Francisco County,2121,8899,8782,9100,8844,9059,805813,816231,829517,840715,852537,864816
San Joaquin County,2548,10550,10085,10047,9861,10044,687442,695432,701464,704654,715114,726106
San Luis Obispo County,703,2644,2626,2630,2666,2734,269905,271208,274552,276308,279116,281401
San Mateo County,2285,9141,9012,9068,8897,9034,719973,729435,740645,750109,758333,765135
Santa Barbara County,1510,5749,5639,5701,5810,5883,424379,426131,430873,436248,441228,444769
Santa Clara County,5866,24021,23416,24180,23371,23625,1786844,1814205,1841318,1871140,1896040,1918044
Santa Cruz County,811,3245,3163,2986,2870,2934,263266,264971,266597,269277,271401,274146
Shasta County,533,2107,2058,2108,2160,2162,177317,177969,178421,179041,179747,179533
Sierra County,7,17,21,19,12,10,3221,3105,3075,3035,2979,2967
Siskiyou County,90,462,494,453,462,464,44940,44672,44148,43635,43465,43554
Solano County,1192,5174,5072,5145,5346,5450,414062,416754,420360,424770,430791,436092
Sonoma County,1421,5310,5045,5067,5068,5116,484791,487778,490746,495046,499674,502146
Stanislaus County,1923,7785,7697,7501,7659,7736,515334,518282,522097,526119,531951,538388
Sutter County,325,1335,1320,1228,1310,1302,94802,94659,94479,95032,95604,96463
Tehama County,180,735,723,726,807,754,63593,63285,63222,62984,62961,63308
Trinity County,33,112,114,118,100,100,13764,13723,13508,13436,13128,13069
Tulare County,1854,8151,8020,7767,7680,7751,443081,447615,451218,454208,457260,459863
Tuolumne County,130,444,462,460,478,481,55185,54746,54129,53940,53872,53709
Ventura County,2767,11009,10529,10533,10508,10605,825298,831130,835416,840964,846119,850536
Yolo County,568,2423,2321,2506,2529,2579,201129,202283,205093,206958,209250,213016
Yuba County,283,1252,1216,1230,1206,1220,72357,72570,72946,73292,73883,74492

In [106]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

                           BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME   CTYNAME
Michigan Washtenaw County         977        3826        3780        3662
         Wayne County            5918       23819       23270       23377

                           BIRTHS2014  BIRTHS2015  POPESTIMATE2010  \
STNAME   CTYNAME
Michigan Washtenaw County        3683        3709           345563
         Wayne County           23607       23586          1815199

                           POPESTIMATE2011  POPESTIMATE2012  POPESTIMATE2013  \
STNAME   CTYNAME
Michigan Washtenaw County           349048           351213           354289
         Wayne County              1801273          1792514          1775713

                           POPESTIMATE2014  POPESTIMATE2015
STNAME   CTYNAME
Michigan Washtenaw County           357029           358880
         Wayne County              1766008          1759335

# Missing values

In [108]:
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [109]:
df.fillna?

In [112]:
df.set_index(['time', 'user'])
df.sort_index()
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

# Week 3

# Merging the DataFrames

In [113]:
import pandas as pd

df = pd.DataFrame([{'Name': 'Chris', 'Item Purchased': 'Sponge', 'Cost': 22.50},
                   {'Name': 'Kevyn', 'Item Purchased': 'Kitty Litter', 'Cost': 2.50},
                   {'Name': 'Filip', 'Item Purchased': 'Spoon', 'Cost': 5.00}],
                  index=['Store 1', 'Store 1', 'Store 2'])
df

         Cost Item Purchased   Name
Store 1  22.5         Sponge  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0          Spoon  Filip

In [115]:
df['Date'] = ['December 1', 'January 1', 'mid-May']
df

         Cost Item Purchased   Name        Date
Store 1  22.5         Sponge  Chris  December 1
Store 1   2.5   Kitty Litter  Kevyn   January 1
Store 2   5.0          Spoon  Filip     mid-May

In [116]:
df['Delivery'] = True
df

         Cost Item Purchased   Name        Date Delivery
Store 1  22.5         Sponge  Chris  December 1     True
Store 1   2.5   Kitty Litter  Kevyn   January 1     True
Store 2   5.0          Spoon  Filip     mid-May     True

In [117]:
df['FeedBack'] = ['Positive', None, 'Negative']
df

         Cost Item Purchased   Name        Date Delivery  FeedBack
Store 1  22.5         Sponge  Chris  December 1     True  Positive
Store 1   2.5   Kitty Litter  Kevyn   January 1     True      None
Store 2   5.0          Spoon  Filip     mid-May     True  Negative

In [119]:
adf= df.reset_index()
adf['Date'] = pd.Series({0: 'December 1', 2:'mid-May'})
adf

     index  Cost Item Purchased   Name        Date Delivery  FeedBack
0  Store 1  22.5         Sponge  Chris  December 1     True  Positive
1  Store 1   2.5   Kitty Litter  Kevyn         NaN     True      None
2  Store 2   5.0          Spoon  Filip     mid-May     True  Negative

In [122]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df = staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print (student_df)
print()
print (staff_df)

            School
Name
James     Business
Mike           Law
Sally  Engineering
()
                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader

In [124]:
pd.merge(student_df, staff_df, how='outer', left_index=True, right_index=True)

            School            Role
Name
James     Business          Grader
Kelly          NaN  Director of HR
Mike           Law             NaN
Sally  Engineering  Course liasion

In [126]:
pd.merge(student_df, staff_df, how='inner', left_index=True, right_index= True)

            School            Role
Name
Sally  Engineering  Course liasion
James     Business          Grader

In [127]:
pd.merge(student_df,staff_df,how='left', left_index=True, right_index= True)

            School            Role
Name
James     Business          Grader
Mike           Law             NaN
Sally  Engineering  Course liasion

In [131]:
new_nerge = pd.merge(student_df,staff_df, how='right', left_index=True, right_index=True)
new_nerge.dropna()

            School            Role
Name
Sally  Engineering  Course liasion
James     Business          Grader

In [132]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 'Location': '512 Wilson Crescent'}])
pd.merge(student_df, staff_df, how = 'left', left_index='Name', right_index='Name')

,Location_x,Name_x,School,Location_y,Name_y,Role
0,1024 Billiard Avenue,James,Business,State Street,Kelly,Director of HR
1,Fraternity House #22,Mike,Law,Washington Avenue,Sally,Course liasion
2,512 Wilson Crescent,Sally,Engineering,Washington Avenue,James,Grader

In [134]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 'School': 'Engineering'}])
staff_df
student_df
pd.merge(student_df, staff_df, how = 'inner', left_on=['First Name', 'Last Name'], right_on=['First Name', 'Last Name'])

  First Name Last Name       School            Role
0      Sally    Brooks  Engineering  Course liasion

# Pandas Idioms

In [135]:
import pandas as pd
df = pd.read_csv("census.csv")
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3169,40,4,8,56,0,Wyoming,Wyoming,563626,563767,564516,...,-0.381530,9.636214,4.487115,-4.788275,-3.221091,0.289680,10.694870,5.440390,-3.727831,-2.091573
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [137]:
(df.where(df['SUMLEV'] == 50)
    .dropna()
    .set_index(['STNAME', 'CTYNAME'])
    .rename(columns = {'ESTIMATESBASE2010': 'ESTIMATES BASE 2010'}))

                              SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME    CTYNAME
Alabama   Autauga County        50.0     3.0       6.0    1.0     1.0
          Baldwin County        50.0     3.0       6.0    1.0     3.0
          Barbour County        50.0     3.0       6.0    1.0     5.0
          Bibb County           50.0     3.0       6.0    1.0     7.0
          Blount County         50.0     3.0       6.0    1.0     9.0
          Bullock County        50.0     3.0       6.0    1.0    11.0
          Butler County         50.0     3.0       6.0    1.0    13.0
          Calhoun County        50.0     3.0       6.0    1.0    15.0
          Chambers County       50.0     3.0       6.0    1.0    17.0
          Cherokee County       50.0     3.0       6.0    1.0    19.0
          Chilton County        50.0     3.0       6.0    1.0    21.0
          Choctaw County        50.0     3.0       6.0    1.0    23.0
          Clarke County         50.0     3.0       6.0    1.0    25.0
          Clay County           50.0     3.0       6.0    1.0    27.0
          Cleburne County       50.0     3.0       6.0    1.0    29.0
          Coffee County         50.0     3.0       6.0    1.0    31.0
          Colbert County        50.0     3.0       6.0    1.0    33.0
          Conecuh County        50.0     3.0       6.0    1.0    35.0
          Coosa County          50.0     3.0       6.0    1.0    37.0
          Covington County      50.0     3.0       6.0    1.0    39.0
          Crenshaw County       50.0     3.0       6.0    1.0    41.0
          Cullman County        50.0     3.0       6.0    1.0    43.0
          Dale County           50.0     3.0       6.0    1.0    45.0
          Dallas County         50.0     3.0       6.0    1.0    47.0
          DeKalb County         50.0     3.0       6.0    1.0    49.0
          Elmore County         50.0     3.0       6.0    1.0    51.0
          Escambia County       50.0     3.0       6.0    1.0    53.0
          Etowah County         50.0     3.0       6.0    1.0    55.0
          Fayette County        50.0     3.0       6.0    1.0    57.0
          Franklin County       50.0     3.0       6.0    1.0    59.0
...                              ...     ...       ...    ...     ...
Wisconsin Washburn County       50.0     2.0       3.0   55.0   129.0
          Washington County     50.0     2.0       3.0   55.0   131.0
          Waukesha County       50.0     2.0       3.0   55.0   133.0
          Waupaca County        50.0     2.0       3.0   55.0   135.0
          Waushara County       50.0     2.0       3.0   55.0   137.0
          Winnebago County      50.0     2.0       3.0   55.0   139.0
          Wood County           50.0     2.0       3.0   55.0   141.0
Wyoming   Albany County         50.0     4.0       8.0   56.0     1.0
          Big Horn County       50.0     4.0       8.0   56.0     3.0
          Campbell County       50.0     4.0       8.0   56.0     5.0
          Carbon County         50.0     4.0       8.0   56.0     7.0
          Converse County       50.0     4.0       8.0   56.0     9.0
          Crook County          50.0     4.0       8.0   56.0    11.0
          Fremont County        50.0     4.0       8.0   56.0    13.0
          Goshen County         50.0     4.0       8.0   56.0    15.0
          Hot Springs County    50.0     4.0       8.0   56.0    17.0
          Johnson County        50.0     4.0       8.0   56.0    19.0
          Laramie County        50.0     4.0       8.0   56.0    21.0
          Lincoln County        50.0     4.0       8.0   56.0    23.0
          Natrona County        50.0     4.0       8.0   56.0    25.0
          Niobrara County       50.0     4.0       8.0   56.0    27.0
          Park County           50.0     4.0       8.0   56.0    29.0
          Platte County         50.0     4.0       8.0   56.0    31.0
          Sheridan County       50.0     4.0       8.0   56.0    33.0
          Sublette County       50.0     4.0       8.0   56.0    35.0
          Sweetwater County     50.0     4.0       8.0   56.0    37.0
          Teton County          50.0     4.0       8.0   56.0    39.0
          Uinta County          50.0     4.0       8.0   56.0    41.0
          Washakie County       50.0     4.0       8.0   56.0    43.0
          Weston County         50.0     4.0       8.0   56.0    45.0

                              CENSUS2010POP  ESTIMATES BASE 2010  \
STNAME    CTYNAME
Alabama   Autauga County            54571.0              54571.0
          Baldwin County           182265.0             182265.0
          Barbour County            27457.0              27457.0
          Bibb County               22915.0              22919.0
          Blount County             57322.0              57322.0
          Bullock County            10914.0              10915.0
          Butler County             20947.0              20946.0
          Calhoun County           118572.0             118586.0
          Chambers County           34215.0              34170.0
          Cherokee County           25989.0              25986.0
          Chilton County            43643.0              43631.0
          Choctaw County            13859.0              13858.0
          Clarke County             25833.0              25840.0
          Clay County               13932.0              13932.0
          Cleburne County           14972.0              14972.0
          Coffee County             49948.0              49948.0
          Colbert County            54428.0              54428.0
          Conecuh County            13228.0              13228.0
          Coosa County              11539.0              11758.0
          Covington County          37765.0              37765.0
          Crenshaw County           13906.0              13906.0
          Cullman County            80406.0              80410.0
          Dale County               50251.0              50251.0
          Dallas County             43820.0              43820.0
          DeKalb County             71109.0              71115.0
          Elmore County             79303.0              79296.0
          Escambia County           38319.0              38319.0
          Etowah County            104430.0             104427.0
          Fayette County            17241.0              17241.0
          Franklin County           31704.0              31709.0
...                                     ...                  ...
Wisconsin Washburn County           15911.0              15911.0
          Washington County        131887.0             131885.0
          Waukesha County          389891.0             389938.0
          Waupaca County            52410.0              52410.0
          Waushara County           24496.0              24496.0
          Winnebago County         166994.0             166994.0
          Wood County               74749.0              74749.0
Wyoming   Albany County             36299.0              36299.0
          Big Horn County           11668.0              11668.0
          Campbell County           46133.0              46133.0
          Carbon County             15885.0              15885.0
          Converse County           13833.0              13833.0
          Crook County               7083.0               7083.0
          Fremont County            40123.0              40123.0
          Goshen County             13249.0              13247.0
          Hot Springs County         4812.0               4812.0
          Johnson County             8569.0               8569.0
          Laramie County            91738.0              91881.0
          Lincoln County            18106.0              18106.0
          Natrona County            75450.0              75450.0
          Niobrara County            2484.0               2484.0
          Park County               28205.0              28205.0
          Platte County              8667.0               8667.0
          Sheridan County           29116.0              29116.0
          Sublette County           10247.0              10247.0
          Sweetwater County         43806.0              43806.0
          Teton County              21294.0              21294.0
          Uinta County              21118.0              21118.0
          Washakie County            8533.0               8533.0
          Weston County              7208.0               7208.0

                              POPESTIMATE2010  POPESTIMATE2011  \
STNAME    CTYNAME
Alabama   Autauga County              54660.0          55253.0
          Baldwin County             183193.0         186659.0
          Barbour County              27341.0          27226.0
          Bibb County                 22861.0          22733.0
          Blount County               57373.0          57711.0
          Bullock County              10887.0          10629.0
          Butler County               20944.0          20673.0
          Calhoun County             118437.0         117768.0
          Chambers County             34098.0          33993.0
          Cherokee County             25976.0          26080.0
          Chilton County              43665.0          43739.0
          Choctaw County              13841.0          13593.0
          Clarke County               25767.0          25570.0
          Clay County                 13880.0          13670.0
          Cleburne County             14973.0          14971.0
          Coffee County               50177.0          50448.0
          Colbert County              54514.0          54443.0
          Conecuh County              13208.0          13121.0
          Coosa County                11758.0          11348.0
          Covington County            37796.0          38060.0
          Crenshaw County             13853.0          13896.0
          Cullman County              80473.0          80469.0
          Dale County                 50358.0          50109.0
          Dallas County               43803.0          43178.0
          DeKalb County               71142.0          71387.0
          Elmore County               79465.0          80012.0
          Escambia County             38309.0          38213.0
          Etowah County              104442.0         104236.0
          Fayette County              17231.0          17062.0
          Franklin County             31734.0          31729.0
...                                       ...              ...
Wisconsin Washburn County             15930.0          15784.0
          Washington County          131967.0         132225.0
          Waukesha County            390076.0         390808.0
          Waupaca County              52422.0          52342.0
          Waushara County             24506.0          24581.0
          Winnebago County           167059.0         167630.0
          Wood County                 74807.0          74647.0
Wyoming   Albany County               36428.0          36908.0
          Big Horn County             11672.0          11745.0
          Campbell County             46244.0          46600.0
          Carbon County               15837.0          15817.0
          Converse County             13826.0          13728.0
          Crook County                 7114.0           7129.0
          Fremont County              40222.0          40591.0
          Goshen County               13408.0          13597.0
          Hot Springs County           4813.0           4818.0
          Johnson County               8581.0           8636.0
          Laramie County              92271.0          92663.0
          Lincoln County              18091.0          18022.0
          Natrona County              75472.0          76420.0
          Niobrara County              2492.0           2485.0
          Park County                 28259.0          28473.0
          Platte County                8678.0           8701.0
          Sheridan County             29146.0          29275.0
          Sublette County             10244.0          10142.0
          Sweetwater County           43593.0          44041.0
          Teton County                21297.0          21482.0
          Uinta County                21102.0          20912.0
          Washakie County              8545.0           8469.0
          Weston County                7181.0           7114.0

                              POPESTIMATE2012     ...       RDOMESTICMIG2011  \
STNAME    CTYNAME                                 ...
Alabama   Autauga County              55175.0     ...               7.242091
          Baldwin County             190396.0     ...              14.832960
          Barbour County              27159.0     ...              -4.728132
          Bibb County                 22642.0     ...              -5.527043
          Blount County               57776.0     ...               1.807375
          Bullock County              10606.0     ...             -30.953709
          Butler County               20408.0     ...             -14.032727
          Calhoun County             117286.0     ...              -6.155670
          Chambers County             34075.0     ...              -2.731639
          Cherokee County             26023.0     ...               6.339327
          Chilton County              43697.0     ...              -1.372935
          Choctaw County              13543.0     ...             -15.455274
          Clarke County               25144.0     ...              -6.194363
          Clay County                 13456.0     ...             -10.744102
          Cleburne County             14921.0     ...              -3.673524
          Coffee County               51173.0     ...               0.377640
          Colbert County              54472.0     ...              -0.073423
          Conecuh County              12996.0     ...              -4.861559
          Coosa County                11195.0     ...             -33.930581
          Covington County            37818.0     ...               6.696899
          Crenshaw County             13951.0     ...               1.729792
          Cullman County              80374.0     ...              -1.404233
          Dale County                 50324.0     ...             -10.749798
          Dallas County               42777.0     ...             -15.635599
          DeKalb County               70942.0     ...               0.294677
          Elmore County               80432.0     ...               3.235576
          Escambia County             38034.0     ...              -3.449988
          Etowah County              104235.0     ...              -1.015919
          Fayette County              16960.0     ...              -5.015601
          Franklin County             31648.0     ...              -1.638750
...                                       ...     ...                    ...
Wisconsin Washburn County             15831.0     ...              -6.873936
          Washington County          132649.0     ...              -0.794876
          Waukesha County            392710.0     ...              -0.765799
          Waupaca County              52035.0     ...               3.111756
          Waushara County             24484.0     ...               4.930022
          Winnebago County           168717.0     ...               0.316712
          Wood County                 74384.0     ...              -4.081523
Wyoming   Albany County               37396.0     ...               3.708956
          Big Horn County             11785.0     ...               4.868258
          Campbell County             47881.0     ...              -2.843479
          Carbon County               15678.0     ...              -7.581980
          Converse County             14025.0     ...             -12.847499
          Crook County                 7148.0     ...              -1.544618
          Fremont County              41129.0     ...               2.747083
          Goshen County               13666.0     ...              14.293649
          Hot Springs County           4846.0     ...               3.322604
          Johnson County               8610.0     ...               4.995063
          Laramie County              94894.0     ...              -1.200428
          Lincoln County              17943.0     ...              -9.802564
          Natrona County              78699.0     ...               7.189319
          Niobrara County              2475.0     ...              -0.401849
          Park County                 28863.0     ...               4.582951
          Platte County                8732.0     ...               4.373094
          Sheridan County             29594.0     ...               0.958559
          Sublette County             10418.0     ...             -23.741784
          Sweetwater County           45104.0     ...               1.072643
          Teton County                21697.0     ...              -1.589565
          Uinta County                20989.0     ...             -17.755986
          Washakie County              8443.0     ...             -11.637475
          Weston County                7065.0     ...             -11.752361

                              RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME    CTYNAME
Alabama   Autauga County             -2.915927         -3.012349
          Baldwin County             17.647293         21.845705
          Barbour County             -2.500690         -7.056824
          Bibb County                -5.068871         -6.201001
          Blount County              -1.177622         -1.748766
          Bullock County             -5.180127         -1.130263
          Butler County             -11.684234         -5.655413
          Calhoun County             -4.611706         -5.524649
          Chambers County             3.849092          2.872721
          Cherokee County             1.113180          5.488706
          Chilton County             -2.653369          0.480044
          Choctaw County             -0.737028         -8.766391
          Clarke County             -17.667705         -0.318345
          Clay County               -13.345130          4.902871
          Cleburne County            -5.151880          7.345821
          Coffee County               7.675579        -13.146535
          Colbert County              1.065051          1.762390
          Conecuh County             -7.504690         -6.107224
          Coosa County              -10.291443         -4.313831
          Covington County           -4.612668          0.740271
          Crenshaw County             3.950156         -1.864936
          Cullman County             -1.019628          4.071247
          Dale County                -5.277150        -15.236079
          Dallas County             -11.308243        -16.745678
          DeKalb County              -9.302391         -1.748807
          Elmore County               0.822717          1.760531
          Escambia County            -3.855889         -4.822706
          Etowah County               2.062637         -1.931884
          Fayette County             -0.646640         -3.725937
          Franklin County            -5.459394         -8.043702
...                                        ...               ...
Wisconsin Washburn County             7.338289         -6.732724
          Washington County           0.785279         -2.215465
          Waukesha County             2.128860          0.038132
          Waupaca County             -2.241873          6.292687
          Waushara County            -2.404973         -4.097017
          Winnebago County            2.889873          0.833819
          Wood County                -5.019090         -6.901200
Wyoming   Albany County               2.637812         -3.544634
          Big Horn County             2.804930         16.815908
          Campbell County            15.601020         -5.895711
          Carbon County             -13.081441          3.178134

In [168]:
df = df[df['SUMLEV']==50]
df.reset_index()
df.set_index('CTYNAME')
df.head()
#df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

,CTYNAME,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,Autauga County,50,3,6,1,1,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
Alabama,Baldwin County,50,3,6,1,3,182265,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
Alabama,Barbour County,50,3,6,1,5,27457,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
Alabama,Bibb County,50,3,6,1,7,22915,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
Alabama,Blount County,50,3,6,1,9,57322,57322,57373,57711,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [172]:
import pandas as pd
df = pd.read_csv("census.csv")
df = df[df['SUMLEV']==50]
df.set_index(['STNAME','CTYNAME'], inplace=True)
df.rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'})

                              SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME    CTYNAME
Alabama   Autauga County          50       3         6      1       1
          Baldwin County          50       3         6      1       3
          Barbour County          50       3         6      1       5
          Bibb County             50       3         6      1       7
          Blount County           50       3         6      1       9
          Bullock County          50       3         6      1      11
          Butler County           50       3         6      1      13
          Calhoun County          50       3         6      1      15
          Chambers County         50       3         6      1      17
          Cherokee County         50       3         6      1      19
          Chilton County          50       3         6      1      21
          Choctaw County          50       3         6      1      23
          Clarke County           50       3         6      1      25
          Clay County             50       3         6      1      27
          Cleburne County         50       3         6      1      29
          Coffee County           50       3         6      1      31
          Colbert County          50       3         6      1      33
          Conecuh County          50       3         6      1      35
          Coosa County            50       3         6      1      37
          Covington County        50       3         6      1      39
          Crenshaw County         50       3         6      1      41
          Cullman County          50       3         6      1      43
          Dale County             50       3         6      1      45
          Dallas County           50       3         6      1      47
          DeKalb County           50       3         6      1      49
          Elmore County           50       3         6      1      51
          Escambia County         50       3         6      1      53
          Etowah County           50       3         6      1      55
          Fayette County          50       3         6      1      57
          Franklin County         50       3         6      1      59
...                              ...     ...       ...    ...     ...
Wisconsin Washburn County         50       2         3     55     129
          Washington County       50       2         3     55     131
          Waukesha County         50       2         3     55     133
          Waupaca County          50       2         3     55     135
          Waushara County         50       2         3     55     137
          Winnebago County        50       2         3     55     139
          Wood County             50       2         3     55     141
Wyoming   Albany County           50       4         8     56       1
          Big Horn County         50       4         8     56       3
          Campbell County         50       4         8     56       5
          Carbon County           50       4         8     56       7
          Converse County         50       4         8     56       9
          Crook County            50       4         8     56      11
          Fremont County          50       4         8     56      13
          Goshen County           50       4         8     56      15
          Hot Springs County      50       4         8     56      17
          Johnson County          50       4         8     56      19
          Laramie County          50       4         8     56      21
          Lincoln County          50       4         8     56      23
          Natrona County          50       4         8     56      25
          Niobrara County         50       4         8     56      27
          Park County             50       4         8     56      29
          Platte County           50       4         8     56      31
          Sheridan County         50       4         8     56      33
          Sublette County         50       4         8     56      35
          Sweetwater County       50       4         8     56      37
          Teton County            50       4         8     56      39
          Uinta County            50       4         8     56      41
          Washakie County         50       4         8     56      43
          Weston County           50       4         8     56      45

                              CENSUS2010POP  Estimates Base 2010  \
STNAME    CTYNAME
Alabama   Autauga County              54571                54571
          Baldwin County             182265               182265
          Barbour County              27457                27457
          Bibb County                 22915                22919
          Blount County               57322                57322
          Bullock County              10914                10915
          Butler County               20947                20946
          Calhoun County             118572               118586
          Chambers County             34215                34170
          Cherokee County             25989                25986
          Chilton County              43643                43631
          Choctaw County              13859                13858
          Clarke County               25833                25840
          Clay County                 13932                13932
          Cleburne County             14972                14972
          Coffee County               49948                49948
          Colbert County              54428                54428
          Conecuh County              13228                13228
          Coosa County                11539                11758
          Covington County            37765                37765
          Crenshaw County             13906                13906
          Cullman County              80406                80410
          Dale County                 50251                50251
          Dallas County               43820                43820
          DeKalb County               71109                71115
          Elmore County               79303                79296
          Escambia County             38319                38319
          Etowah County              104430               104427
          Fayette County              17241                17241
          Franklin County             31704                31709
...                                     ...                  ...
Wisconsin Washburn County             15911                15911
          Washington County          131887               131885
          Waukesha County            389891               389938
          Waupaca County              52410                52410
          Waushara County             24496                24496
          Winnebago County           166994               166994
          Wood County                 74749                74749
Wyoming   Albany County               36299                36299
          Big Horn County             11668                11668
          Campbell County             46133                46133
          Carbon County               15885                15885
          Converse County             13833                13833
          Crook County                 7083                 7083
          Fremont County              40123                40123
          Goshen County               13249                13247
          Hot Springs County           4812                 4812
          Johnson County               8569                 8569
          Laramie County              91738                91881
          Lincoln County              18106                18106
          Natrona County              75450                75450
          Niobrara County              2484                 2484
          Park County                 28205                28205
          Platte County                8667                 8667
          Sheridan County             29116                29116
          Sublette County             10247                10247
          Sweetwater County           43806                43806
          Teton County                21294                21294
          Uinta County                21118                21118
          Washakie County              8533                 8533
          Weston County                7208                 7208

                              POPESTIMATE2010  POPESTIMATE2011  \
STNAME    CTYNAME
Alabama   Autauga County                54660            55253
          Baldwin County               183193           186659
          Barbour County                27341            27226
          Bibb County                   22861            22733
          Blount County                 57373            57711
          Bullock County                10887            10629
          Butler County                 20944            20673
          Calhoun County               118437           117768
          Chambers County               34098            33993
          Cherokee County               25976            26080
          Chilton County                43665            43739
          Choctaw County                13841            13593
          Clarke County                 25767            25570
          Clay County                   13880            13670
          Cleburne County               14973            14971
          Coffee County                 50177            50448
          Colbert County                54514            54443
          Conecuh County                13208            13121
          Coosa County                  11758            11348
          Covington County              37796            38060
          Crenshaw County               13853            13896
          Cullman County                80473            80469
          Dale County                   50358            50109
          Dallas County                 43803            43178
          DeKalb County                 71142            71387
          Elmore County                 79465            80012
          Escambia County               38309            38213
          Etowah County                104442           104236
          Fayette County                17231            17062
          Franklin County               31734            31729
...                                       ...              ...
Wisconsin Washburn County               15930            15784
          Washington County            131967           132225
          Waukesha County              390076           390808
          Waupaca County                52422            52342
          Waushara County               24506            24581
          Winnebago County             167059           167630
          Wood County                   74807            74647
Wyoming   Albany County                 36428            36908
          Big Horn County               11672            11745
          Campbell County               46244            46600
          Carbon County                 15837            15817
          Converse County               13826            13728
          Crook County                   7114             7129
          Fremont County                40222            40591
          Goshen County                 13408            13597
          Hot Springs County             4813             4818
          Johnson County                 8581             8636
          Laramie County                92271            92663
          Lincoln County                18091            18022
          Natrona County                75472            76420
          Niobrara County                2492             2485
          Park County                   28259            28473
          Platte County                  8678             8701
          Sheridan County               29146            29275
          Sublette County               10244            10142
          Sweetwater County             43593            44041
          Teton County                  21297            21482
          Uinta County                  21102            20912
          Washakie County                8545             8469
          Weston County                  7181             7114

                              POPESTIMATE2012     ...       RDOMESTICMIG2011  \
STNAME    CTYNAME                                 ...
Alabama   Autauga County                55175     ...               7.242091
          Baldwin County               190396     ...              14.832960
          Barbour County                27159     ...              -4.728132
          Bibb County                   22642     ...              -5.527043
          Blount County                 57776     ...               1.807375
          Bullock County                10606     ...             -30.953709
          Butler County                 20408     ...             -14.032727
          Calhoun County               117286     ...              -6.155670
          Chambers County               34075     ...              -2.731639
          Cherokee County               26023     ...               6.339327
          Chilton County                43697     ...              -1.372935
          Choctaw County                13543     ...             -15.455274
          Clarke County                 25144     ...              -6.194363
          Clay County                   13456     ...             -10.744102
          Cleburne County               14921     ...              -3.673524
          Coffee County                 51173     ...               0.377640
          Colbert County                54472     ...              -0.073423
          Conecuh County                12996     ...              -4.861559
          Coosa County                  11195     ...             -33.930581
          Covington County              37818     ...               6.696899
          Crenshaw County               13951     ...               1.729792
          Cullman County                80374     ...              -1.404233
          Dale County                   50324     ...             -10.749798
          Dallas County                 42777     ...             -15.635599
          DeKalb County                 70942     ...               0.294677
          Elmore County                 80432     ...               3.235576
          Escambia County               38034     ...              -3.449988
          Etowah County                104235     ...              -1.015919
          Fayette County                16960     ...              -5.015601
          Franklin County               31648     ...              -1.638750
...                                       ...     ...                    ...
Wisconsin Washburn County               15831     ...              -6.873936
          Washington County            132649     ...              -0.794876
          Waukesha County              392710     ...              -0.765799
          Waupaca County                52035     ...               3.111756
          Waushara County               24484     ...               4.930022
          Winnebago County             168717     ...               0.316712
          Wood County                   74384     ...              -4.081523
Wyoming   Albany County                 37396     ...               3.708956
          Big Horn County               11785     ...               4.868258
          Campbell County               47881     ...              -2.843479
          Carbon County                 15678     ...              -7.581980
          Converse County               14025     ...             -12.847499
          Crook County                   7148     ...              -1.544618
          Fremont County                41129     ...               2.747083
          Goshen County                 13666     ...              14.293649
          Hot Springs County             4846     ...               3.322604
          Johnson County                 8610     ...               4.995063
          Laramie County                94894     ...              -1.200428
          Lincoln County                17943     ...              -9.802564
          Natrona County                78699     ...               7.189319
          Niobrara County                2475     ...              -0.401849
          Park County                   28863     ...               4.582951
          Platte County                  8732     ...               4.373094
          Sheridan County               29594     ...               0.958559
          Sublette County               10418     ...             -23.741784
          Sweetwater County             45104     ...               1.072643
          Teton County                  21697     ...              -1.589565
          Uinta County                  20989     ...             -17.755986
          Washakie County                8443     ...             -11.637475
          Weston County                  7065     ...             -11.752361

                              RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME    CTYNAME
Alabama   Autauga County             -2.915927         -3.012349
          Baldwin County             17.647293         21.845705
          Barbour County             -2.500690         -7.056824
          Bibb County                -5.068871         -6.201001
          Blount County              -1.177622         -1.748766
          Bullock County             -5.180127         -1.130263
          Butler County             -11.684234         -5.655413
          Calhoun County             -4.611706         -5.524649
          Chambers County             3.849092          2.872721
          Cherokee County             1.113180          5.488706
          Chilton County             -2.653369          0.480044
          Choctaw County             -0.737028         -8.766391
          Clarke County             -17.667705         -0.318345
          Clay County               -13.345130          4.902871
          Cleburne County            -5.151880          7.345821
          Coffee County               7.675579        -13.146535
          Colbert County              1.065051          1.762390
          Conecuh County             -7.504690         -6.107224
          Coosa County              -10.291443         -4.313831
          Covington County           -4.612668          0.740271
          Crenshaw County             3.950156         -1.864936
          Cullman County             -1.019628          4.071247
          Dale County                -5.277150        -15.236079
          Dallas County             -11.308243        -16.745678
          DeKalb County              -9.302391         -1.748807
          Elmore County               0.822717          1.760531
          Escambia County            -3.855889         -4.822706
          Etowah County               2.062637         -1.931884
          Fayette County             -0.646640         -3.725937
          Franklin County            -5.459394         -8.043702
...                                        ...               ...
Wisconsin Washburn County             7.338289         -6.732724
          Washington County           0.785279         -2.215465
          Waukesha County             2.128860          0.038132
          Waupaca County             -2.241873          6.292687
          Waushara County            -2.404973         -4.097017
          Winnebago County            2.889873          0.833819
          Wood County                -5.019090         -6.901200
Wyoming   Albany County               2.637812         -3.544634
          Big Horn County             2.804930         16.815908
          Campbell County            15.601020         -5.895711
          Carbon County             -13.081441          3.178134

In [175]:
import numpy as np
def min_max(row):
    data = row[['POPESTIMATE2010',
                'POPESTIMATE2011',
                'POPESTIMATE2012',
                'POPESTIMATE2013',
                'POPESTIMATE2014',
                'POPESTIMATE2015']]
    return pd.Series({'min': np.min(row), 'max': np.max(row)})

df.apply(min_max, axis=1)

                                   max    min
STNAME    CTYNAME
Alabama   Autauga County       55347.0 -166.0
          Baldwin County      203709.0  -15.0
          Barbour County       27457.0 -326.0
          Bibb County          22919.0 -140.0
          Blount County        57776.0 -119.0
          Bullock County       10915.0 -333.0
          Butler County        20947.0 -292.0
          Calhoun County      118586.0 -727.0
          Chambers County      34215.0 -105.0
          Cherokee County      26084.0 -136.0
          Chilton County       43943.0 -116.0
          Choctaw County       13859.0 -248.0
          Clarke County        25840.0 -448.0
          Clay County          13932.0 -214.0
          Cleburne County      15072.0  -77.0
          Coffee County        51211.0 -670.0
          Colbert County       54514.0 -134.0
          Conecuh County       13228.0 -213.0
          Coosa County         11758.0 -410.0
          Covington County     38060.0 -242.0
          Crenshaw County      13963.0  -72.0
          Cullman County       82005.0 -113.0
          Dale County          50358.0 -763.0
          Dallas County        43820.0 -756.0
          DeKalb County        71387.0 -662.0
          Elmore County        81468.0 -122.0
          Escambia County      38319.0 -183.0
          Etowah County       104442.0 -400.0
          Fayette County       17241.0 -169.0
          Franklin County      31734.0 -254.0
...                                ...    ...
Wisconsin Washburn County      15930.0 -174.0
          Washington County   133674.0 -294.0
          Waukesha County     396488.0 -299.0
          Waupaca County       52422.0 -307.0
          Waushara County      24581.0 -159.0
          Winnebago County    169639.0 -773.0
          Wood County          74807.0 -512.0
Wyoming   Albany County        37956.0 -376.0
          Big Horn County      12022.0  -96.0
          Campbell County      49220.0 -412.0
          Carbon County        15885.0 -366.0
          Converse County      14343.0 -293.0
          Crook County          7444.0  -30.0
          Fremont County       41129.0 -554.0
          Goshen County        13666.0 -160.0
          Hot Springs County    4846.0  -53.0
          Johnson County        8636.0  -92.0
          Laramie County       97121.0 -118.0
          Lincoln County       18722.0 -208.0
          Natrona County       82178.0  -78.0
          Niobrara County       2548.0  -32.0
          Park County          29237.0 -270.0
          Platte County         8812.0  -22.0
          Sheridan County      30020.0  -99.0
          Sublette County      10418.0 -419.0
          Sweetwater County    45162.0 -642.0
          Teton County         23125.0  -71.0
          Uinta County         21118.0 -381.0
          Washakie County       8545.0 -151.0
          Weston County         7234.0  -86.0

[3142 rows x 2 columns]

# Group By

In [179]:
df = pd.read_csv ('census.csv')
df = df[df['SUMLEV']==50]
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411
6,50,3,6,1,11,Alabama,Bullock County,10914,10915,10887,...,-30.953709,-5.180127,-1.130263,14.354290,-16.167247,-29.001673,-2.825524,1.507017,17.243790,-13.193961
7,50,3,6,1,13,Alabama,Butler County,20947,20946,20944,...,-14.032727,-11.684234,-5.655413,1.085428,-6.529805,-13.936612,-11.586865,-5.557058,1.184103,-6.430868
8,50,3,6,1,15,Alabama,Calhoun County,118572,118586,118437,...,-6.155670,-4.611706,-5.524649,-4.463211,-3.376322,-5.791579,-4.092677,-5.062836,-3.912834,-2.806406
9,50,3,6,1,17,Alabama,Chambers County,34215,34170,34098,...,-2.731639,3.849092,2.872721,-2.287222,1.349468,-1.821092,4.701181,3.781439,-1.290228,2.346901
10,50,3,6,1,19,Alabama,Cherokee County,25989,25986,25976,...,6.339327,1.113180,5.488706,-0.076806,-3.239866,6.416167,1.420264,5.757384,0.230419,-2.931307
11,50,3,6,1,21,Alabama,Chilton County,43643,43631,43665,...,-1.372935,-2.653369,0.480044,0.456017,-2.253483,-0.823761,-2.447504,0.868651,0.957636,-1.752709
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13841,...,-15.455274,-0.737028,-8.766391,-1.274984,-5.291205,-15.528177,-0.737028,-8.766391,-1.274984,-5.291205
13,50,3,6,1,25,Alabama,Clarke County,25833,25840,25767,...,-6.194363,-17.667705,-0.318345,-8.686428,-5.613667,-6.077488,-17.509958,-0.159172,-8.486280,-5.411736
14,50,3,6,1,27,Alabama,Clay County,13932,13932,13880,...,-10.744102,-13.345130,4.902871,5.702648,3.912450,-10.816697,-13.345130,4.977157,5.776708,3.986270
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,14973,...,-3.673524,-5.151880,7.345821,3.654485,-3.123961,-3.673524,-5.151880,7.345821,3.654485,-3.123961
16,50,3,6,1,31,Alabama,Coffee County,49948,49948,50177,...,0.377640,7.675579,-13.146535,-3.602859,2.214774,2.166460,11.513368,-10.438741,-0.767822,5.350738
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54514,...,-0.073423,1.065051,1.762390,1.835688,-0.110260,0.513964,1.469035,2.276420,2.533249,0.588052
18,50,3,6,1,35,Alabama,Conecuh County,13228,13228,13208,...,-4.861559,-7.504690,-6.107224,-14.645416,2.684140,-4.861559,-7.504690,-6.107224,-14.645416,2.684140
19,50,3,6,1,37,Alabama,Coosa County,11539,11758,11758,...,-33.930581,-10.291443,-4.313831,-22.958017,-5.387581,-34.017138,-10.380162,-4.403703,-23.049483,-5.387581
20,50,3,6,1,39,Alabama,Covington County,37765,37765,37796,...,6.696899,-4.612668,0.740271,3.697932,-0.316945,6.881460,-4.559952,0.793147,3.750759,-0.264121
21,50,3,6,1,41,Alabama,Crenshaw County,13906,13906,13853,...,1.729792,3.950156,-1.864936,3.084648,3.439504,2.666763,5.099293,-0.502098,4.734577,5.087600
22,50,3,6,1,43,Alabama,Cullman County,80406,80410,80473,...,-1.404233,-1.019628,4.071247,5.087142,7.915406,-1.031427,-0.634159,4.542916,5.593387,8.417777
23,50,3,6,1,45,Alabama,Dale County,50251,50251,50358,...,-10.749798,-5.277150,-15.236079,-11.979785,-5.107706,-9.575283,-0.776637,-12.640155,-9.503292,-1.998668
24,50,3,6,1,47,Alabama,Dallas County,43820,43820,43803,...,-15.635599,-11.308243,-16.745678,-9.344789,-14.687232,-15.727573,-11.378047,-16.792849,-9.368689,-14.711389
25,50,3,6,1,49,Alabama,DeKalb County,71109,71115,71142,...,0.294677,-9.302391,-1.748807,0.267830,0.028141,1.375159,-8.656001,-1.029539,1.198187,0.956790
26,50,3,6,1,51,Alabama,Elmore County,79303,79296,79465,...,3.235576,0.822717,1.760531,-1.507057,2.067820,3.674511,1.558176,2.306047,-0.951175,2.757093
27,50,3,6,1,53,Alabama,Escambia County,38319,38319,38309,...,-3.449988,-3.855889,-4.822706,-1.189831,1.190902,-3.397716,-3.803428,-4.769999,-1.136950,1.243830
28,50,3,6,1,55,Alabama,Etowah County,104430,104427,104442,...,-1.015919,2.062637,-1.931884,-1.726932,-2.082234,-0.632554,2.446383,-1.518596,-1.234901,-1.588308
29,50,3,6,1,57,Alabama,Fayette County,17241,17241,17231,...,-5.015601,-0.646640,-3.725937,0.296745,-2.797536,-5.132243,-0.705426,-3.785079,0.237396,-2.857058
30,50,3,6,1,59,Alabama,Franklin County,31704,31709,31734,...,-1.638750,-5.459394,-8.043702,-1.267849,-2.401719,0.063029,-3.471291,-5.700261,1.553115,0.442422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,50,2,3,55,129,Wisconsin,Washburn County,15911,15911,15930,...,-6.873936,7.338289,-6.732724,3.510452,-5.123279,-6.747809,7.464811,-6.605691,3.638104,-4.995197
3163,50,2,3,55,131,Wisconsin,Washington County,131887,131885,131967,...,-0.794876,0.785279,-2.215465,1.601149,-0.434498,-0.431504,1.162817,-1.763330,2.104796,0.059931
3164,50,2,3,55,133,Wisconsin,Waukesha County,389891,389938,390076,...,-0.765799,2.128860,0.038132,0.760109,-0.719858,0.102448,3.180527,1.189727,2.077633,0.593567
3165,50,2,3,55,135,Wisconsin,Waupaca County,52410,52410,52422,...,3.111756,-2.241873,6.292687,-0.441031,-0.480617,3.359933,-2.011937,6.561277,-0.134227,-0.173022
3166,50,2,3,55,137,Wisconsin,Waushara County,24496,24496,24506,...,4.930022,-2.404973,-4.097017,-4.906711,-4.397793,5.174486,-2.160399,-3.810226,-4.535615,-4.024395
3167,50,2,3,55,139,Wisconsin,Winnebago County,166994,166994,167059,...,0.316712,2.889873,0.833819,-2.406192,-4.557985,0.842573,3.502335,1.531624,-1.545153,-3.685304
3168,50,2,3,55,141,Wisconsin,Wood County,74749,74749,74807,...,-4.081523,-5.019090,-6.901200,-5.596471,-3.958322,-3.733590,-4.562809,-6.442917,-5.040889,-3.414223
3170,50,4,8,56,1,Wyoming,Albany County,36299,36299,36428,...,3.708956,2.637812,-3.544634,-3.334877,-9.911169,6.736119,6.433032,0.719587,1.429233,-5.166460
3171,50,4,8,56,3,Wyoming,Big Horn County,11668,11668,11672,...,4.868258,2.804930,16.815908,-8.026420,5.095861,4.868258,3.144921,17.236306,-7.608378,5.513554
3172,50,4,8,56,5,Wyoming,Campbell County,46133,46133,46244,...,-2.843479,15.601020,-5.895711,-8.550911,10.916963,-2.649606,15.558684,-5.916543,-8.509402,10.978525
3173,50,4,8,56,7,Wyoming,Carbon County,15885,15885,15837,...,-7.581980,-13.081441,3.178134,-2.970641,-23.300971,-7.392431,-12.636926,3.623073,-2.338590,-22.600668
3174,50,4,8,56,9,Wyoming,Converse County,13833,13833,13826,...,-12.847499,15.493820,19.035533,-20.550587,-0.070403,-12.774915,16.502720,20.093063,-19.358233,1.126443
3175,50,4,8,56,11,Wyoming,Crook County,7083,7083,7114,...,-1.544618,-4.202564,1.397819,6.378258,18.629317,-0.982939,-3.642222,2.096729,7.071547,19.309219
3176,50,4,8,56,13,Wyoming,Fremont County,40123,40123,40222,...,2.747083,7.782673,-4.990688,-12.331633,-13.673610,3.093562,8.027411,-4.747240,-12.013555,-13.352750
3177,50,4,8,56,15,Wyoming,Goshen County,13249,13247,13408,...,14.293649,3.961413,-8.079028,-7.017803,-11.899450,14.886132,4.841727,-6.903896,-5.761986,-10.635133
3178,50,4,8,56,17,Wyoming,Hot Springs County,4812,4812,4813,...,3.322604,6.208609,3.095336,-6.017222,-5.454164,5.191569,6.001656,2.888981,-6.224712,-5.663940
3179,50,4,8,56,19,Wyoming,Johnson County,8569,8569,8581,...,4.995063,-4.058912,-0.812583,-10.715742,0.933652,5.227392,-4.058912,-0.812583,-10.715742,0.933652
3180,50,4,8,56,21,Wyoming,Laramie County,91738,91881,92271,...,-1.200428,15.547274,4.787847,-1.226133,0.278940,-0.973320,17.914554,6.003143,-0.207819,1.673640
3181,50,4,8,56,23,Wyoming,Lincoln County,18106,18106,18091,...,-9.802564,-11.566801,13.564556,6.125989,1.555544,-9.691801,-11.566801,13.619696,6.234414,1.662823
3182,50,4,8,56,25,Wyoming,Natrona County,75450,75450,75472,...,7.189319,23.066162,24.322042,-0.958472,-0.061057,7.689674,23.749508,25.085233,-0.110593,0.793743
3183,50,4,8,56,27,Wyoming,Niobrara County,2484,2484,2492,...,-0.401849,0.806452,29.066295,-12.603387,7.492114,-0.401849,0.806452,29.066295,-12.603387,7.492114
3184,50,4,8,56,29,Wyoming,Park County,28205,28205,28259,...,4.582951,8.057765,7.641997,-9.252437,-2.878980,6.486639,11.127389,10.877797,-5.585731,0.856839
3185,50,4,8,56,31,Wyoming,Platte County,8667,8667,8678,...,4.373094,5.392073,2.634593,6.055759,4.662270,4.373094,4.933173,2.176403,5.598720,4.207414
3186,50,4,8,56,33,Wyoming,Sheridan County,29116,29116,29146,...,0.958559,8.425487,4.546373,3.678069,-3.298406,2.122524,9.342778,5.523001,4.781489,-2.198937
3187,50,4,8,56,35,Wyoming,Sublette County,10247,10247,10244,...,-23.741784,15.272374,-40.870074,-16.596273,-22.870900,-21.092907,16.828794,-39.211861,-14.409938,-20.664059
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [180]:
%%timeit -n 10
for state in df['STNAME'].unique():
    avg = np.average(df.where (df['STNAME'] == state).dropna()['CENSUS2010POP'])
    print ('Countries in state ' + state + 'have an average po;ulation of ' + str(avg))

Countries in state Alabamahave an average po;ulation of 71339.3432836
Countries in state Alaskahave an average po;ulation of 24490.7241379
Countries in state Arizonahave an average po;ulation of 426134.466667
Countries in state Arkansashave an average po;ulation of 38878.9066667
Countries in state Californiahave an average po;ulation of 642309.586207
Countries in state Coloradohave an average po;ulation of 78581.1875
Countries in state Connecticuthave an average po;ulation of 446762.125
Countries in state Delawarehave an average po;ulation of 299311.333333
Countries in state District of Columbiahave an average po;ulation of 601723.0
Countries in state Floridahave an average po;ulation of 280616.567164
Countries in state Georgiahave an average po;ulation of 60928.6352201
Countries in state Hawaiihave an average po;ulation of 272060.2
Countries in state Idahohave an average po;ulation of 35626.8636364
Countries in state Illinoishave an average po;ulation of 125790.509804
Countries in state Indianahave an average po;ulation of 70476.1086957
Countries in state Iowahave an average po;ulation of 30771.2626263
Countries in state Kansashave an average po;ulation of 27172.552381
Countries in state Kentuckyhave an average po;ulation of 36161.3916667
Countries in state Louisianahave an average po;ulation of 70833.9375
Countries in state Mainehave an average po;ulation of 83022.5625
Countries in state Marylandhave an average po;ulation of 240564.666667
Countries in state Massachusettshave an average po;ulation of 467687.785714
Countries in state Michiganhave an average po;ulation of 119080.0
Countries in state Minnesotahave an average po;ulation of 60964.6551724
Countries in state Mississippihave an average po;ulation of 36186.5487805
Countries in state Missourihave an average po;ulation of 52077.626087
Countries in state Montanahave an average po;ulation of 17668.125
Countries in state Nebraskahave an average po;ulation of 19638.0752688
Countries in state Nevadahave an average po;ulation of 158855.941176
Countries in state New Hampshirehave an average po;ulation of 131647.0
Countries in state New Jerseyhave an average po;ulation of 418661.619048
Countries in state New Mexicohave an average po;ulation of 62399.3636364
Countries in state New Yorkhave an average po;ulation of 312550.032258
Countries in state North Carolinahave an average po;ulation of 95354.83
Countries in state North Dakotahave an average po;ulation of 12690.3962264
Countries in state Ohiohave an average po;ulation of 131096.636364
Countries in state Oklahomahave an average po;ulation of 48718.8441558
Countries in state Oregonhave an average po;ulation of 106418.722222
Countries in state Pennsylvaniahave an average po;ulation of 189587.746269
Countries in state Rhode Islandhave an average po;ulation of 210513.4
Countries in state South Carolinahave an average po;ulation of 100551.391304
Countries in state South Dakotahave an average po;ulation of 12336.0606061
Countries in state Tennesseehave an average po;ulation of 66801.1052632
Countries in state Texashave an average po;ulation of 98998.2716535
Countries in state Utahhave an average po;ulation of 95306.3793103
Countries in state Vermonthave an average po;ulation of 44695.7857143
Countries in state Virginiahave an average po;ulation of 60111.2932331
Countries in state Washingtonhave an average po;ulation of 172424.102564
Countries in state West Virginiahave an average po;ulation of 33690.8
Countries in state Wisconsinhave an average po;ulation of 78985.9166667
Countries in state Wyominghave an average po;ulation of 24505.4782609
Countries in state Alabamahave an average po;ulation of 71339.3432836
Countries in state Alaskahave an average po;ulation of 24490.7241379
Countries in state Arizonahave an average po;ulation of 426134.466667
Countries in state Arkansashave an average po;ulation of 38878.9066667
Countries in state Californiahave an average po;ulation of 642309.586207
Countries in state Coloradohave an average po;ulation of 78581.1875
Countries in state Connecticuthave an average po;ulation of 446762.125
Countries in state Delawarehave an average po;ulation of 299311.333333
Countries in state District of Columbiahave an average po;ulation of 601723.0
Countries in state Floridahave an average po;ulation of 280616.567164
Countries in state Georgiahave an average po;ulation of 60928.6352201
Countries in state Hawaiihave an average po;ulation of 272060.2
Countries in state Idahohave an average po;ulation of 35626.8636364
Countries in state Illinoishave an average po;ulation of 125790.509804
Countries in state Indianahave an average po;ulation of 70476.1086957
Countries in state Iowahave an average po;ulation of 30771.2626263
Countries in state Kansashave an average po;ulation of 27172.552381
Countries in state Kentuckyhave an average po;ulation of 36161.3916667
Countries in state Louisianahave an average po;ulation of 70833.9375
Countries in state Mainehave an average po;ulation of 83022.5625
Countries in state Marylandhave an average po;ulation of 240564.666667
Countries in state Massachusettshave an average po;ulation of 467687.785714
Countries in state Michiganhave an average po;ulation of 119080.0
Countries in state Minnesotahave an average po;ulation of 60964.6551724
Countries in state Mississippihave an average po;ulation of 36186.5487805
Countries in state Missourihave an average po;ulation of 52077.626087
Countries in state Montanahave an average po;ulation of 17668.125
Countries in state Nebraskahave an average po;ulation of 19638.0752688
Countries in state Nevadahave an average po;ulation of 158855.941176
Countries in state New Hampshirehave an average po;ulation of 131647.0
Countries in state New Jerseyhave an average po;ulation of 418661.619048
Countries in state New Mexicohave an average po;ulation of 62399.3636364
Countries in state New Yorkhave an average po;ulation of 312550.032258
Countries in state North Carolinahave an average po;ulation of 95354.83
Countries in state North Dakotahave an average po;ulation of 12690.3962264
Countries in state Ohiohave an average po;ulation of 131096.636364
Countries in state Oklahomahave an average po;ulation of 48718.8441558
Countries in state Oregonhave an average po;ulation of 106418.722222
Countries in state Pennsylvaniahave an average po;ulation of 189587.746269
Countries in state Rhode Islandhave an average po;ulation of 210513.4
Countries in state South Carolinahave an average po;ulation of 100551.391304
Countries in state South Dakotahave an average po;ulation of 12336.0606061
Countries in state Tennesseehave an average po;ulation of 66801.1052632
Countries in state Texashave an average po;ulation of 98998.2716535
Countries in state Utahhave an average po;ulation of 95306.3793103
Countries in state Vermonthave an average po;ulation of 44695.7857143
Countries in state Virginiahave an average po;ulation of 60111.2932331
Countries in state Washingtonhave an average po;ulation of 172424.102564
Countries in state West Virginiahave an average po;ulation of 33690.8
Countries in state Wisconsinhave an average po;ulation of 78985.9166667
Countries in state Wyominghave an average po;ulation of 24505.4782609
Countries in state Alabamahave an average po;ulation of 71339.3432836
Countries in state Alaskahave an average po;ulation of 24490.7241379
Countries in state Arizonahave an average po;ulation of 426134.466667
Countries in state Arkansashave an average po;ulation of 38878.9066667
Countries in state Californiahave an average po;ulation of 642309.586207
Countries in state Coloradohave an average po;ulation of 78581.1875
Countries in state Connecticuthave an average po;ulation of 446762.125
Countries in state Delawarehave an average po;ulation of 299311.333333
Countries in state District of Columbiahave an average po;ulation of 601723.0
Countries in state Floridahave an average po;ulation of 280616.567164
Countries in state Georgiahave an average po;ulation of 60928.6352201
Countries in state Hawaiihave an average po;ulation of 272060.2
Countries in state Idahohave an average po;ulation of 35626.8636364
Countries in state Illinoishave an average po;ulation of 125790.509804
Countries in state Indianahave an average po;ulation of 70476.1086957
Countries in state Iowahave an average po;ulation of 30771.2626263
Countries in state Kansashave an average po;ulation of 27172.552381
Countries in state Kentuckyhave an average po;ulation of 36161.3916667
Countries in state Louisianahave an average po;ulation of 70833.9375
Countries in state Mainehave an average po;ulation of 83022.5625
Countries in state Marylandhave an average po;ulation of 240564.666667
Countries in state Massachusettshave an average po;ulation of 467687.785714
Countries in state Michiganhave an average po;ulation of 119080.0
Countries in state Minnesotahave an average po;ulation of 60964.6551724
Countries in state Mississippihave an average po;ulation of 36186.5487805
Countries in state Missourihave an average po;ulation of 52077.626087
Countries in state Montanahave an average po;ulation of 17668.125
Countries in state Nebraskahave an average po;ulation of 19638.0752688
Countries in state Nevadahave an average po;ulation of 158855.941176
Countries in state New Hampshirehave an average po;ulation of 131647.0
Countries in state New Jerseyhave an average po;ulation of 418661.619048
Countries in state New Mexicohave an average po;ulation of 62399.3636364
Countries in state New Yorkhave an average po;ulation of 312550.032258
Countries in state North Carolinahave an average po;ulation of 95354.83
Countries in state North Dakotahave an average po;ulation of 12690.3962264
Countries in state Ohiohave an average po;ulation of 131096.636364
Countries in state Oklahomahave an average po;ulation of 48718.8441558
Countries in state Oregonhave an average po;ulation of 106418.722222
Countries in state Pennsylvaniahave an average po;ulation of 189587.746269
Countries in state Rhode Islandhave an average po;ulation of 210513.4
Countries in state South Carolinahave an average po;ulation of 100551.391304
Countries in state South Dakotahave an average po;ulation of 12336.0606061
Countries in state Tennesseehave an average po;ulation of 66801.1052632
Countries in state Texashave an average po;ulation of 98998.2716535
Countries in state Utahhave an average po;ulation of 95306.3793103
Countries in state Vermonthave an average po;ulation of 44695.7857143
Countries in state Virginiahave an average po;ulation of 60111.2932331
Countries in state Washingtonhave an average po;ulation of 172424.102564
Countries in state West Virginiahave an average po;ulation of 33690.8
Countries in state Wisconsinhave an average po;ulation of 78985.9166667
Countries in state Wyominghave an average po;ulation of 24505.4782609
Countries in state Alabamahave an average po;ulation of 71339.3432836
Countries in state Alaskahave an average po;ulation of 24490.7241379
Countries in state Arizonahave an average po;ulation of 426134.466667
Countries in state Arkansashave an average po;ulation of 38878.9066667
Countries in state Californiahave an average po;ulation of 642309.586207
Countries in state Coloradohave an average po;ulation of 78581.1875
Countries in state Connecticuthave an average po;ulation of 446762.125
Countries in state Delawarehave an average po;ulation of 299311.333333
Countries in state District of Columbiahave an average po;ulation of 601723.0
Countries in state Floridahave an average po;ulation of 280616.567164
Countries in state Georgiahave an average po;ulation of 60928.6352201
Countries in state Hawaiihave an average po;ulation of 272060.2
Countries in state Idahohave an average po;ulation of 35626.8636364
Countries in state Illinoishave an average po;ulation of 125790.509804
Countries in state Indianahave an average po;ulation of 70476.1086957
Countries in state Iowahave an average po;ulation of 30771.2626263
Countries in state Kansashave an average po;ulation of 27172.552381
Countries in state Kentuckyhave an average po;ulation of 36161.3916667
Countries in state Louisianahave an average po;ulation of 70833.9375
Countries in state Mainehave an average po;ulation of 83022.5625
Countries in state Marylandhave an average po;ulation of 240564.666667
Countries in state Massachusettshave an average po;ulation of 467687.785714
Countries in state Michiganhave an average po;ulation of 119080.0
Countries in state Minnesotahave an average po;ulation of 60964.6551724
Countries in state Mississippihave an average po;ulation of 36186.5487805
Countries in state Missourihave an average po;ulation of 52077.626087
Countries in state Montanahave an average po;ulation of 17668.125
Countries in state Nebraskahave an average po;ulation of 19638.0752688
Countries in state Nevadahave an average po;ulation of 158855.941176
Countries in state New Hampshirehave an average po;ulation of 131647.0
Countries in state New Jerseyhave an average po;ulation of 418661.619048
Countries in state New Mexicohave an average po;ulation of 62399.3636364
Countries in state New Yorkhave an average po;ulation of 312550.032258
Countries in state North Carolinahave an average po;ulation of 95354.83
Countries in state North Dakotahave an average po;ulation of 12690.3962264
Countries in state Ohiohave an average po;ulation of 131096.636364
Countries in state Oklahomahave an average po;ulation of 48718.8441558
Countries in state Oregonhave an average po;ulation of 106418.722222
Countries in state Pennsylvaniahave an average po;ulation of 189587.746269
Countries in state Rhode Islandhave an average po;ulation of 210513.4
Countries in state South Carolinahave an average po;ulation of 100551.391304
Countries in state South Dakotahave an average po;ulation of 12336.0606061
Countries in state Tennesseehave an average po;ulation of 66801.1052632
Countries in state Texashave an average po;ulation of 98998.2716535
Countries in state Utahhave an average po;ulation of 95306.3793103
Countries in state Vermonthave an average po;ulation of 44695.7857143
Countries in state Virginiahave an average po;ulation of 60111.2932331
Countries in state Washingtonhave an average po;ulation of 172424.102564
Countries in state West Virginiahave an average po;ulation of 33690.8
Countries in state Wisconsinhave an average po;ulation of 78985.9166667
Countries in state Wyominghave an average po;ulation of 24505.4782609
Countries in state Alabamahave an average po;ulation of 71339.3432836
Countries in state Alaskahave an average po;ulation of 24490.7241379
Countries in state Arizonahave an average po;ulation of 426134.466667
Countries in state Arkansashave an average po;ulation of 38878.9066667
Countries in state Californiahave an average po;ulation of 642309.586207
Countries in state Coloradohave an average po;ulation of 78581.1875
Countries in state Connecticuthave an average po;ulation of 446762.125
Countries in state Delawarehave an average po;ulation of 299311.333333
Countries in state District of Columbiahave an average po;ulation of 601723.0
Countries in state Floridahave an average po;ulation of 280616.567164
Countries in state Georgiahave an average po;ulation of 60928.6352201
Countries in state Hawaiihave an average po;ulation of 272060.2
Countries in state Idahohave an average po;ulation of 35626.8636364
Countries in state Illinoishave an average po;ulation of 125790.509804
Countries in state Indianahave an average po;ulation of 70476.1086957
Countries in state Iowahave an average po;ulation of 30771.2626263
Countries in state Kansashave an average po;ulation of 27172.552381
Countries in state Kentuckyhave an average po;ulation of 36161.3916667
Countries in state Louisianahave an average po;ulation of 70833.9375
Countries in state Mainehave an average po;ulation of 83022.5625
Countries in state Marylandhave an average po;ulation of 240564.666667
Countries in state Massachusettshave an average po;ulation of 467687.785714
Countries in state Michiganhave an average po;ulation of 119080.0
Countries in state Minnesotahave an average po;ulation of 60964.6551724
Countries in state Mississippihave an average po;ulation of 36186.5487805
Countries in state Missourihave an average po;ulation of 52077.626087
Countries in state Montanahave an average po;ulation of 17668.125
Countries in state Nebraskahave an average po;ulation of 19638.0752688
Countries in state Nevadahave an average po;ulation of 158855.941176
Countries in state New Hampshirehave an average po;ulation of 131647.0
Countries in state New Jerseyhave an average po;ulation of 418661.619048
Countries in state New Mexicohave an average po;ulation of 62399.3636364
Countries in state New Yorkhave an average po;ulation of 312550.032258
Countries in state North Carolinahave an average po;ulation of 95354.83
Countries in state North Dakotahave an average po;ulation of 12690.3962264
Countries in state Ohiohave an average po;ulation of 131096.636364
Countries in state Oklahomahave an average po;ulation of 48718.8441558
Countries in state Oregonhave an average po;ulation of 106418.722222
Countries in state Pennsylvaniahave an average po;ulation of 189587.746269
Countries in state Rhode Islandhave an average po;ulation of 210513.4
Countries in state South Carolinahave an average po;ulation of 100551.391304
Countries in state South Dakotahave an average po;ulation of 12336.0606061
Countries in state Tennesseehave an average po;ulation of 66801.1052632
Countries in state Texashave an average po;ulation of 98998.2716535
Countries in state Utahhave an average po;ulation of 95306.3793103
Countries in state Vermonthave an average po;ulation of 44695.7857143
Countries in state Virginiahave an average po;ulation of 60111.2932331
Countries in state Washingtonhave an average po;ulation of 172424.102564
Countries in state West Virginiahave an average po;ulation of 33690.8
Countries in state Wisconsinhave an average po;ulation of 78985.9166667
Countries in state Wyominghave an average po;ulation of 24505.4782609
Countries in state Alabamahave an average po;ulation of 71339.3432836
Countries in state Alaskahave an average po;ulation of 24490.7241379
Countries in state Arizonahave an average po;ulation of 426134.466667
Countries in state Arkansashave an average po;ulation of 38878.9066667
Countries in state Californiahave an average po;ulation of 642309.586207
Countries in state Coloradohave an average po;ulation of 78581.1875
Countries in state Connecticuthave an average po;ulation of 446762.125
Countries in state Delawarehave an average po;ulation of 299311.333333
Countries in state District of Columbiahave an average po;ulation of 601723.0
Countries in state Floridahave an average po;ulation of 280616.567164
Countries in state Georgiahave an average po;ulation of 60928.6352201
Countries in state Hawaiihave an average po;ulation of 272060.2
Countries in state Idahohave an average po;ulation of 35626.8636364
Countries in state Illinoishave an average po;ulation of 125790.509804
Countries in state Indianahave an average po;ulation of 70476.1086957
Countries in state Iowahave an average po;ulation of 30771.2626263
Countries in state Kansashave an average po;ulation of 27172.552381
Countries in state Kentuckyhave an average po;ulation of 36161.3916667
Countries in state Louisianahave an average po;ulation of 70833.9375
Countries in state Mainehave an average po;ulation of 83022.5625
Countries in state Marylandhave an average po;ulation of 240564.666667
Countries in state Massachusettshave an average po;ulation of 467687.785714
Countries in state Michiganhave an average po;ulation of 119080.0
Countries in state Minnesotahave an average po;ulation of 60964.6551724
Countries in state Mississippihave an average po;ulation of 36186.5487805
Countries in state Missourihave an average po;ulation of 52077.626087
Countries in state Montanahave an average po;ulation of 17668.125
Countries in state Nebraskahave an average po;ulation of 19638.0752688

In [183]:
%%timeit -n 10
for group, frame in df.groupby('STNAME'):
    avg = np.average(frame['CENSUS2010POP'])
    print ('Countries in state ' + group + 'an average population ' + str(avg))

Countries in state Alabamaan average population 71339.3432836
Countries in state Alaskaan average population 24490.7241379
Countries in state Arizonaan average population 426134.466667
Countries in state Arkansasan average population 38878.9066667
Countries in state Californiaan average population 642309.586207
Countries in state Coloradoan average population 78581.1875
Countries in state Connecticutan average population 446762.125
Countries in state Delawarean average population 299311.333333
Countries in state District of Columbiaan average population 601723.0
Countries in state Floridaan average population 280616.567164
Countries in state Georgiaan average population 60928.6352201
Countries in state Hawaiian average population 272060.2
Countries in state Idahoan average population 35626.8636364
Countries in state Illinoisan average population 125790.509804
Countries in state Indianaan average population 70476.1086957
Countries in state Iowaan average population 30771.2626263
Countries in state Kansasan average population 27172.552381
Countries in state Kentuckyan average population 36161.3916667
Countries in state Louisianaan average population 70833.9375
Countries in state Mainean average population 83022.5625
Countries in state Marylandan average population 240564.666667
Countries in state Massachusettsan average population 467687.785714
Countries in state Michiganan average population 119080.0
Countries in state Minnesotaan average population 60964.6551724
Countries in state Mississippian average population 36186.5487805
Countries in state Missourian average population 52077.626087
Countries in state Montanaan average population 17668.125
Countries in state Nebraskaan average population 19638.0752688
Countries in state Nevadaan average population 158855.941176
Countries in state New Hampshirean average population 131647.0
Countries in state New Jerseyan average population 418661.619048
Countries in state New Mexicoan average population 62399.3636364
Countries in state New Yorkan average population 312550.032258
Countries in state North Carolinaan average population 95354.83
Countries in state North Dakotaan average population 12690.3962264
Countries in state Ohioan average population 131096.636364
Countries in state Oklahomaan average population 48718.8441558
Countries in state Oregonan average population 106418.722222
Countries in state Pennsylvaniaan average population 189587.746269
Countries in state Rhode Islandan average population 210513.4
Countries in state South Carolinaan average population 100551.391304
Countries in state South Dakotaan average population 12336.0606061
Countries in state Tennesseean average population 66801.1052632
Countries in state Texasan average population 98998.2716535
Countries in state Utahan average population 95306.3793103
Countries in state Vermontan average population 44695.7857143
Countries in state Virginiaan average population 60111.2932331
Countries in state Washingtonan average population 172424.102564
Countries in state West Virginiaan average population 33690.8
Countries in state Wisconsinan average population 78985.9166667
Countries in state Wyomingan average population 24505.4782609
Countries in state Alabamaan average population 71339.3432836
Countries in state Alaskaan average population 24490.7241379
Countries in state Arizonaan average population 426134.466667
Countries in state Arkansasan average population 38878.9066667
Countries in state Californiaan average population 642309.586207
Countries in state Coloradoan average population 78581.1875
Countries in state Connecticutan average population 446762.125
Countries in state Delawarean average population 299311.333333
Countries in state District of Columbiaan average population 601723.0
Countries in state Floridaan average population 280616.567164
Countries in state Georgiaan average population 60928.6352201
Countries in state Hawaiian average population 272060.2
Countries in state Idahoan average population 35626.8636364
Countries in state Illinoisan average population 125790.509804
Countries in state Indianaan average population 70476.1086957
Countries in state Iowaan average population 30771.2626263
Countries in state Kansasan average population 27172.552381
Countries in state Kentuckyan average population 36161.3916667
Countries in state Louisianaan average population 70833.9375
Countries in state Mainean average population 83022.5625
Countries in state Marylandan average population 240564.666667
Countries in state Massachusettsan average population 467687.785714
Countries in state Michiganan average population 119080.0
Countries in state Minnesotaan average population 60964.6551724
Countries in state Mississippian average population 36186.5487805
Countries in state Missourian average population 52077.626087
Countries in state Montanaan average population 17668.125
Countries in state Nebraskaan average population 19638.0752688
Countries in state Nevadaan average population 158855.941176
Countries in state New Hampshirean average population 131647.0
Countries in state New Jerseyan average population 418661.619048
Countries in state New Mexicoan average population 62399.3636364
Countries in state New Yorkan average population 312550.032258
Countries in state North Carolinaan average population 95354.83
Countries in state North Dakotaan average population 12690.3962264
Countries in state Ohioan average population 131096.636364
Countries in state Oklahomaan average population 48718.8441558
Countries in state Oregonan average population 106418.722222
Countries in state Pennsylvaniaan average population 189587.746269
Countries in state Rhode Islandan average population 210513.4
Countries in state South Carolinaan average population 100551.391304
Countries in state South Dakotaan average population 12336.0606061
Countries in state Tennesseean average population 66801.1052632
Countries in state Texasan average population 98998.2716535
Countries in state Utahan average population 95306.3793103
Countries in state Vermontan average population 44695.7857143
Countries in state Virginiaan average population 60111.2932331
Countries in state Washingtonan average population 172424.102564
Countries in state West Virginiaan average population 33690.8
Countries in state Wisconsinan average population 78985.9166667
Countries in state Wyomingan average population 24505.4782609
Countries in state Alabamaan average population 71339.3432836
Countries in state Alaskaan average population 24490.7241379
Countries in state Arizonaan average population 426134.466667
Countries in state Arkansasan average population 38878.9066667
Countries in state Californiaan average population 642309.586207
Countries in state Coloradoan average population 78581.1875
Countries in state Connecticutan average population 446762.125
Countries in state Delawarean average population 299311.333333
Countries in state District of Columbiaan average population 601723.0
Countries in state Floridaan average population 280616.567164
Countries in state Georgiaan average population 60928.6352201
Countries in state Hawaiian average population 272060.2
Countries in state Idahoan average population 35626.8636364
Countries in state Illinoisan average population 125790.509804
Countries in state Indianaan average population 70476.1086957
Countries in state Iowaan average population 30771.2626263
Countries in state Kansasan average population 27172.552381
Countries in state Kentuckyan average population 36161.3916667
Countries in state Louisianaan average population 70833.9375
Countries in state Mainean average population 83022.5625
Countries in state Marylandan average population 240564.666667
Countries in state Massachusettsan average population 467687.785714
Countries in state Michiganan average population 119080.0
Countries in state Minnesotaan average population 60964.6551724
Countries in state Mississippian average population 36186.5487805
Countries in state Missourian average population 52077.626087
Countries in state Montanaan average population 17668.125
Countries in state Nebraskaan average population 19638.0752688
Countries in state Nevadaan average population 158855.941176
Countries in state New Hampshirean average population 131647.0
Countries in state New Jerseyan average population 418661.619048
Countries in state New Mexicoan average population 62399.3636364
Countries in state New Yorkan average population 312550.032258
Countries in state North Carolinaan average population 95354.83
Countries in state North Dakotaan average population 12690.3962264
Countries in state Ohioan average population 131096.636364
Countries in state Oklahomaan average population 48718.8441558
Countries in state Oregonan average population 106418.722222
Countries in state Pennsylvaniaan average population 189587.746269
Countries in state Rhode Islandan average population 210513.4
Countries in state South Carolinaan average population 100551.391304
Countries in state South Dakotaan average population 12336.0606061
Countries in state Tennesseean average population 66801.1052632
Countries in state Texasan average population 98998.2716535
Countries in state Utahan average population 95306.3793103
Countries in state Vermontan average population 44695.7857143
Countries in state Virginiaan average population 60111.2932331
Countries in state Washingtonan average population 172424.102564
Countries in state West Virginiaan average population 33690.8
Countries in state Wisconsinan average population 78985.9166667
Countries in state Wyomingan average population 24505.4782609
Countries in state Alabamaan average population 71339.3432836
Countries in state Alaskaan average population 24490.7241379
Countries in state Arizonaan average population 426134.466667
Countries in state Arkansasan average population 38878.9066667
Countries in state Californiaan average population 642309.586207
Countries in state Coloradoan average population 78581.1875
Countries in state Connecticutan average population 446762.125
Countries in state Delawarean average population 299311.333333
Countries in state District of Columbiaan average population 601723.0
Countries in state Floridaan average population 280616.567164
Countries in state Georgiaan average population 60928.6352201
Countries in state Hawaiian average population 272060.2
Countries in state Idahoan average population 35626.8636364
Countries in state Illinoisan average population 125790.509804
Countries in state Indianaan average population 70476.1086957
Countries in state Iowaan average population 30771.2626263
Countries in state Kansasan average population 27172.552381
Countries in state Kentuckyan average population 36161.3916667
Countries in state Louisianaan average population 70833.9375
Countries in state Mainean average population 83022.5625
Countries in state Marylandan average population 240564.666667
Countries in state Massachusettsan average population 467687.785714
Countries in state Michiganan average population 119080.0
Countries in state Minnesotaan average population 60964.6551724
Countries in state Mississippian average population 36186.5487805
Countries in state Missourian average population 52077.626087
Countries in state Montanaan average population 17668.125
Countries in state Nebraskaan average population 19638.0752688
Countries in state Nevadaan average population 158855.941176
Countries in state New Hampshirean average population 131647.0
Countries in state New Jerseyan average population 418661.619048
Countries in state New Mexicoan average population 62399.3636364
Countries in state New Yorkan average population 312550.032258
Countries in state North Carolinaan average population 95354.83
Countries in state North Dakotaan average population 12690.3962264
Countries in state Ohioan average population 131096.636364
Countries in state Oklahomaan average population 48718.8441558
Countries in state Oregonan average population 106418.722222
Countries in state Pennsylvaniaan average population 189587.746269
Countries in state Rhode Islandan average population 210513.4
Countries in state South Carolinaan average population 100551.391304
Countries in state South Dakotaan average population 12336.0606061
Countries in state Tennesseean average population 66801.1052632
Countries in state Texasan average population 98998.2716535
Countries in state Utahan average population 95306.3793103
Countries in state Vermontan average population 44695.7857143
Countries in state Virginiaan average population 60111.2932331
Countries in state Washingtonan average population 172424.102564
Countries in state West Virginiaan average population 33690.8
Countries in state Wisconsinan average population 78985.9166667
Countries in state Wyomingan average population 24505.4782609
Countries in state Alabamaan average population 71339.3432836
Countries in state Alaskaan average population 24490.7241379
Countries in state Arizonaan average population 426134.466667
Countries in state Arkansasan average population 38878.9066667
Countries in state Californiaan average population 642309.586207
Countries in state Coloradoan average population 78581.1875
Countries in state Connecticutan average population 446762.125
Countries in state Delawarean average population 299311.333333
Countries in state District of Columbiaan average population 601723.0
Countries in state Floridaan average population 280616.567164
Countries in state Georgiaan average population 60928.6352201
Countries in state Hawaiian average population 272060.2
Countries in state Idahoan average population 35626.8636364
Countries in state Illinoisan average population 125790.509804
Countries in state Indianaan average population 70476.1086957
Countries in state Iowaan average population 30771.2626263
Countries in state Kansasan average population 27172.552381
Countries in state Kentuckyan average population 36161.3916667
Countries in state Louisianaan average population 70833.9375
Countries in state Mainean average population 83022.5625
Countries in state Marylandan average population 240564.666667
Countries in state Massachusettsan average population 467687.785714
Countries in state Michiganan average population 119080.0
Countries in state Minnesotaan average population 60964.6551724
Countries in state Mississippian average population 36186.5487805
Countries in state Missourian average population 52077.626087
Countries in state Montanaan average population 17668.125
Countries in state Nebraskaan average population 19638.0752688
Countries in state Nevadaan average population 158855.941176
Countries in state New Hampshirean average population 131647.0
Countries in state New Jerseyan average population 418661.619048
Countries in state New Mexicoan average population 62399.3636364
Countries in state New Yorkan average population 312550.032258
Countries in state North Carolinaan average population 95354.83
Countries in state North Dakotaan average population 12690.3962264
Countries in state Ohioan average population 131096.636364
Countries in state Oklahomaan average population 48718.8441558
Countries in state Oregonan average population 106418.722222
Countries in state Pennsylvaniaan average population 189587.746269
Countries in state Rhode Islandan average population 210513.4
Countries in state South Carolinaan average population 100551.391304
Countries in state South Dakotaan average population 12336.0606061
Countries in state Tennesseean average population 66801.1052632
Countries in state Texasan average population 98998.2716535
Countries in state Utahan average population 95306.3793103
Countries in state Vermontan average population 44695.7857143
Countries in state Virginiaan average population 60111.2932331
Countries in state Washingtonan average population 172424.102564
Countries in state West Virginiaan average population 33690.8
Countries in state Wisconsinan average population 78985.9166667
Countries in state Wyomingan average population 24505.4782609
Countries in state Alabamaan average population 71339.3432836
Countries in state Alaskaan average population 24490.7241379
Countries in state Arizonaan average population 426134.466667
Countries in state Arkansasan average population 38878.9066667
Countries in state Californiaan average population 642309.586207
Countries in state Coloradoan average population 78581.1875
Countries in state Connecticutan average population 446762.125
Countries in state Delawarean average population 299311.333333
Countries in state District of Columbiaan average population 601723.0
Countries in state Floridaan average population 280616.567164
Countries in state Georgiaan average population 60928.6352201
Countries in state Hawaiian average population 272060.2
Countries in state Idahoan average population 35626.8636364
Countries in state Illinoisan average population 125790.509804
Countries in state Indianaan average population 70476.1086957
Countries in state Iowaan average population 30771.2626263
Countries in state Kansasan average population 27172.552381
Countries in state Kentuckyan average population 36161.3916667
Countries in state Louisianaan average population 70833.9375
Countries in state Mainean average population 83022.5625
Countries in state Marylandan average population 240564.666667
Countries in state Massachusettsan average population 467687.785714
Countries in state Michiganan average population 119080.0
Countries in state Minnesotaan average population 60964.6551724
Countries in state Mississippian average population 36186.5487805
Countries in state Missourian average population 52077.626087
Countries in state Montanaan average population 17668.125
Countries in state Nebraskaan average population 19638.0752688
Countries in state Nevadaan average population 158855.941176
Countries in state New Hampshirean average population 131647.0
Countries in state New Jerseyan average population 418661.619048
Countries in state New Mexicoan average population 62399.3636364
Countries in state New Yorkan average population 312550.032258
Countries in state North Carolinaan average population 95354.83
Countries in state North Dakotaan average population 12690.3962264
Countries in state Ohioan average population 131096.636364
Countries in state Oklahomaan average population 48718.8441558
Countries in state Oregonan average population 106418.722222
Countries in state Pennsylvaniaan average population 189587.746269
Countries in state Rhode Islandan average population 210513.4
Countries in state South Carolinaan average population 100551.391304
Countries in state South Dakotaan average population 12336.0606061
Countries in state Tennesseean average population 66801.1052632
Countries in state Texasan average population 98998.2716535
Countries in state Utahan average population 95306.3793103
Countries in state Vermontan average population 44695.7857143
Countries in state Virginiaan average population 60111.2932331
Countries in state Washingtonan average population 172424.102564
Countries in state West Virginiaan average population 33690.8
Countries in state Wisconsinan average population 78985.9166667
Countries in state Wyomingan average population 24505.4782609
Countries in state Alabamaan average population 71339.3432836
Countries in state Alaskaan average population 24490.7241379
Countries in state Arizonaan average population 426134.466667
Countries in state Arkansasan average population 38878.9066667
Countries in state Californiaan average population 642309.586207
Countries in state Coloradoan average population 78581.1875
Countries in state Connecticutan average population 446762.125
Countries in state Delawarean average population 299311.333333
Countries in state District of Columbiaan average population 601723.0
Countries in state Floridaan average population 280616.567164
Countries in state Georgiaan average population 60928.6352201
Countries in state Hawaiian average population 272060.2
Countries in state Idahoan average population 35626.8636364

In [189]:
df = pd.read_csv('CENSUS.csv')
df = df.set_index('STNAME')

def fun(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(fun):
    print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

There are 1196 records in group 0 for processing.
There are 1154 records in group 1 for processing.
There are 843 records in group 2 for processing.

In [191]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df.groupby('STNAME').agg({'CENSUS2010POP': np.average})

                      CENSUS2010POP
STNAME
Alabama                71339.343284
Alaska                 24490.724138
Arizona               426134.466667
Arkansas               38878.906667
California            642309.586207
Colorado               78581.187500
Connecticut           446762.125000
Delaware              299311.333333
District of Columbia  601723.000000
Florida               280616.567164
Georgia                60928.635220
Hawaii                272060.200000
Idaho                  35626.863636
Illinois              125790.509804
Indiana                70476.108696
Iowa                   30771.262626
Kansas                 27172.552381
Kentucky               36161.391667
Louisiana              70833.937500
Maine                  83022.562500
Maryland              240564.666667
Massachusetts         467687.785714
Michigan              119080.000000
Minnesota              60964.655172
Mississippi            36186.548780
Missouri               52077.626087
Montana                17668.125000
Nebraska               19638.075269
Nevada                158855.941176
New Hampshire         131647.000000
New Jersey            418661.619048
New Mexico             62399.363636
New York              312550.032258
North Carolina         95354.830000
North Dakota           12690.396226
Ohio                  131096.636364
Oklahoma               48718.844156
Oregon                106418.722222
Pennsylvania          189587.746269
Rhode Island          210513.400000
South Carolina        100551.391304
South Dakota           12336.060606
Tennessee              66801.105263
Texas                  98998.271654
Utah                   95306.379310
Vermont                44695.785714
Virginia               60111.293233
Washington            172424.102564
West Virginia          33690.800000
Wisconsin              78985.916667
Wyoming                24505.478261

In [192]:
df.set_index('STNAME').groupby(level =0)['CENSUS2010POP'].agg({'avg': np.average, 'sum': np.sum})

                           sum            avg
STNAME
Alabama                4779736   71339.343284
Alaska                  710231   24490.724138
Arizona                6392017  426134.466667
Arkansas               2915918   38878.906667
California            37253956  642309.586207
Colorado               5029196   78581.187500
Connecticut            3574097  446762.125000
Delaware                897934  299311.333333
District of Columbia    601723  601723.000000
Florida               18801310  280616.567164
Georgia                9687653   60928.635220
Hawaii                 1360301  272060.200000
Idaho                  1567582   35626.863636
Illinois              12830632  125790.509804
Indiana                6483802   70476.108696
Iowa                   3046355   30771.262626
Kansas                 2853118   27172.552381
Kentucky               4339367   36161.391667
Louisiana              4533372   70833.937500
Maine                  1328361   83022.562500
Maryland               5773552  240564.666667
Massachusetts          6547629  467687.785714
Michigan               9883640  119080.000000
Minnesota              5303925   60964.655172
Mississippi            2967297   36186.548780
Missouri               5988927   52077.626087
Montana                 989415   17668.125000
Nebraska               1826341   19638.075269
Nevada                 2700551  158855.941176
New Hampshire          1316470  131647.000000
New Jersey             8791894  418661.619048
New Mexico             2059179   62399.363636
New York              19378102  312550.032258
North Carolina         9535483   95354.830000
North Dakota            672591   12690.396226
Ohio                  11536504  131096.636364
Oklahoma               3751351   48718.844156
Oregon                 3831074  106418.722222
Pennsylvania          12702379  189587.746269
Rhode Island           1052567  210513.400000
South Carolina         4625364  100551.391304
South Dakota            814180   12336.060606
Tennessee              6346105   66801.105263
Texas                 25145561   98998.271654
Utah                   2763885   95306.379310
Vermont                 625741   44695.785714
Virginia               7994802   60111.293233
Washington             6724540  172424.102564
West Virginia          1852994   33690.800000
Wisconsin              5686986   78985.916667
Wyoming                 563626   24505.478261

In [193]:
(df.set_index('STNAME').groupby(level=0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'avg': np.average, 'sum': np.sum}))

                                 sum                             avg  \
                     POPESTIMATE2010 POPESTIMATE2011 POPESTIMATE2010
STNAME
Alabama                      4785161         4801108    71420.313433
Alaska                        714021          722720    24621.413793
Arizona                      6408208         6468732   427213.866667
Arkansas                     2922394         2938538    38965.253333
California                  37334079        37700034   643691.017241
Colorado                     5048254         5119480    78878.968750
Connecticut                  3579717         3589759   447464.625000
Delaware                      899791          907916   299930.333333
District of Columbia          605126          620472   605126.000000
Florida                     18849890        19105533   281341.641791
Georgia                      9713454         9812280    61090.905660
Hawaii                       1363980         1378227   272796.000000
Idaho                        1570986         1584134    35704.227273
Illinois                    12841249        12861882   125894.598039
Indiana                      6490590         6516845    70549.891304
Iowa                         3050694         3065389    30815.090909
Kansas                       2858824         2869917    27226.895238
Kentucky                     4347937         4367882    36232.808333
Louisiana                    4544951         4575381    71014.859375
Maine                        1327695         1328257    82980.937500
Maryland                     5788409         5844171   241183.708333
Massachusetts                6565036         6611797   468931.142857
Michigan                     9877369         9876589   119004.445783
Minnesota                    5310903         5348119    61044.862069
Mississippi                  2970316         2977999    36223.365854
Missouri                     5996052         6010587    52139.582609
Montana                       990643          997746    17690.053571
Nebraska                     1830025         1842383    19677.688172
Nevada                       2703440         2718819   159025.882353
New Hampshire                1316708         1318344   131670.800000
New Jersey                   8803881         8842934   419232.428571
New Mexico                   2064741         2078226    62567.909091
New York                    19402920        19523202   312950.322581
North Carolina               9558979         9651025    95589.790000
North Dakota                  674530          685326    12726.981132
Ohio                        11540766        11545442   131145.068182
Oklahoma                     3759596         3786626    48825.922078
Oregon                       3837972         3868509   106610.333333
Pennsylvania                12712014        12745202   189731.552239
Rhode Island                 1053219         1051856   210643.800000
South Carolina               4635894         4672733   100780.304348
South Dakota                  816299          824289    12368.166667
Tennessee                    6356585         6398408    66911.421053
Texas                       25244363        25654464    99387.255906
Utah                         2775426         2816440    95704.344828
Vermont                       625984          626687    44713.142857
Virginia                     8025787         8110783    60344.263158
Washington                   6743060         6823229   172898.974359
West Virginia                1854225         1854948    33713.181818
Wisconsin                    5690204         5709720    79030.611111
Wyoming                       564516          567768    24544.173913


                     POPESTIMATE2011
STNAME
Alabama                 71658.328358
Alaska                  24921.379310
Arizona                431248.800000
Arkansas                39180.506667
California             650000.586207
Colorado                79991.875000
Connecticut            448719.875000
Delaware               302638.666667
District of Columbia   620472.000000
Florida                285157.208955
Georgia                 61712.452830
Hawaii                 275645.400000
Idaho                   36003.045455
Illinois               126096.882353
Indiana                 70835.271739
Iowa                    30963.525253
Kansas                  27332.542857
Kentucky                36399.016667
Louisiana               71490.328125
Maine                   83016.062500
Maryland               243507.125000
Massachusetts          472271.214286
Michigan               118995.048193
Minnesota               61472.632184
Mississippi             36317.060976
Missouri                52265.973913
Montana                 17816.892857
Nebraska                19810.569892
Nevada                 159930.529412
New Hampshire          131834.400000
New Jersey             421092.095238
New Mexico              62976.545455
New York               314890.354839
North Carolina          96510.250000
North Dakota            12930.679245
Ohio                   131198.204545
Oklahoma                49176.961039
Oregon                 107458.583333
Pennsylvania           190226.895522
Rhode Island           210371.200000
South Carolina         101581.152174
South Dakota            12489.227273
Tennessee               67351.663158
Texas                  101001.826772
Utah                    97118.620690
Vermont                 44763.357143
Virginia                60983.330827
Washington             174954.589744
West Virginia           33726.327273
Wisconsin               79301.666667
Wyoming                 24685.565217

In [195]:
(df.set_index('STNAME').groupby(level =0)['POPESTIMATE2010','POPESTIMATE2011']
    .agg({'POPESTIMATE2010': np.average, 'POPESTIMATE2011': np.sum}))

                      POPESTIMATE2011  POPESTIMATE2010
STNAME
Alabama                       4801108     71420.313433
Alaska                         722720     24621.413793
Arizona                       6468732    427213.866667
Arkansas                      2938538     38965.253333
California                   37700034    643691.017241
Colorado                      5119480     78878.968750
Connecticut                   3589759    447464.625000
Delaware                       907916    299930.333333
District of Columbia           620472    605126.000000
Florida                      19105533    281341.641791
Georgia                       9812280     61090.905660
Hawaii                        1378227    272796.000000
Idaho                         1584134     35704.227273
Illinois                     12861882    125894.598039
Indiana                       6516845     70549.891304
Iowa                          3065389     30815.090909
Kansas                        2869917     27226.895238
Kentucky                      4367882     36232.808333
Louisiana                     4575381     71014.859375
Maine                         1328257     82980.937500
Maryland                      5844171    241183.708333
Massachusetts                 6611797    468931.142857
Michigan                      9876589    119004.445783
Minnesota                     5348119     61044.862069
Mississippi                   2977999     36223.365854
Missouri                      6010587     52139.582609
Montana                        997746     17690.053571
Nebraska                      1842383     19677.688172
Nevada                        2718819    159025.882353
New Hampshire                 1318344    131670.800000
New Jersey                    8842934    419232.428571
New Mexico                    2078226     62567.909091
New York                     19523202    312950.322581
North Carolina                9651025     95589.790000
North Dakota                   685326     12726.981132
Ohio                         11545442    131145.068182
Oklahoma                      3786626     48825.922078
Oregon                        3868509    106610.333333
Pennsylvania                 12745202    189731.552239
Rhode Island                  1051856    210643.800000
South Carolina                4672733    100780.304348
South Dakota                   824289     12368.166667
Tennessee                     6398408     66911.421053
Texas                        25654464     99387.255906
Utah                          2816440     95704.344828
Vermont                        626687     44713.142857
Virginia                      8110783     60344.263158
Washington                    6823229    172898.974359
West Virginia                 1854948     33713.181818
Wisconsin                     5709720     79030.611111
Wyoming                        567768     24544.173913

# Scales

In [196]:
df = pd.DataFrame(['A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D'],
                  index=['excellent', 'excellent', 'excellent', 'good', 'good', 'good', 'ok', 'ok', 'ok', 'poor', 'poor'])
df.rename(columns={0: 'Grades'}, inplace=True)
df

          Grades
excellent     A+
excellent      A
excellent     A-
good          B+
good           B
good          B-
ok            C+
ok             C
ok            C-
poor          D+
poor           D

In [198]:
df['Grades'].astype('category').head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [A, A+, A-, B, ..., C+, C-, D, D+]

In [199]:
grades = df['Grades'].astype('category',
                             categories=['D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A', 'A+'],
                             ordered=True)
grades.head()

excellent    A+
excellent     A
excellent    A-
good         B+
good          B
Name: Grades, dtype: category
Categories (11, object): [D < D+ < C- < C ... B+ < A- < A < A+]

In [200]:
grades > 'C'

excellent     True
excellent     True
excellent     True
good          True
good          True
good          True
ok            True
ok           False
ok           False
poor         False
poor         False
Name: Grades, dtype: bool

In [206]:
df = pd.read_csv('census.csv')
df = df[df['SUMLEV']==50]
df = df.set_index('STNAME').groupby(level=0)['CENSUS2010POP'].agg({'avg': np.average})
pd.cut(df['avg'],10)

STNAME
Alabama                  (11706.0871, 75333.413]
Alaska                   (11706.0871, 75333.413]
Arizona                 (390320.176, 453317.529]
Arkansas                 (11706.0871, 75333.413]
California              (579312.234, 642309.586]
Colorado                 (75333.413, 138330.766]
Connecticut             (390320.176, 453317.529]
Delaware                (264325.471, 327322.823]
District of Columbia    (579312.234, 642309.586]
Florida                 (264325.471, 327322.823]
Georgia                  (11706.0871, 75333.413]
Hawaii                  (264325.471, 327322.823]
Idaho                    (11706.0871, 75333.413]
Illinois                 (75333.413, 138330.766]
Indiana                  (11706.0871, 75333.413]
Iowa                     (11706.0871, 75333.413]
Kansas                   (11706.0871, 75333.413]
Kentucky                 (11706.0871, 75333.413]
Louisiana                (11706.0871, 75333.413]
Maine                    (75333.413, 138330.766]
Maryland                (201328.118, 264325.471]
Massachusetts           (453317.529, 516314.881]
Michigan                 (75333.413, 138330.766]
Minnesota                (11706.0871, 75333.413]
Mississippi              (11706.0871, 75333.413]
Missouri                 (11706.0871, 75333.413]
Montana                  (11706.0871, 75333.413]
Nebraska                 (11706.0871, 75333.413]
Nevada                  (138330.766, 201328.118]
New Hampshire            (75333.413, 138330.766]
New Jersey              (390320.176, 453317.529]
New Mexico               (11706.0871, 75333.413]
New York                (264325.471, 327322.823]
North Carolina           (75333.413, 138330.766]
North Dakota             (11706.0871, 75333.413]
Ohio                     (75333.413, 138330.766]
Oklahoma                 (11706.0871, 75333.413]
Oregon                   (75333.413, 138330.766]
Pennsylvania            (138330.766, 201328.118]
Rhode Island            (201328.118, 264325.471]
South Carolina           (75333.413, 138330.766]
South Dakota             (11706.0871, 75333.413]
Tennessee                (11706.0871, 75333.413]
Texas                    (75333.413, 138330.766]
Utah                     (75333.413, 138330.766]
Vermont                  (11706.0871, 75333.413]
Virginia                 (11706.0871, 75333.413]
Washington              (138330.766, 201328.118]
West Virginia            (11706.0871, 75333.413]
Wisconsin                (75333.413, 138330.766]
Wyoming                  (11706.0871, 75333.413]
Name: avg, dtype: category
Categories (10, object): [(11706.0871, 75333.413] < (75333.413, 138330.766] < (138330.766, 201328.118] < (201328.118, 264325.471] ... (390320.176, 453317.529] < (453317.529, 516314.881] < (516314.881, 579312.234] < (579312.234, 642309.586]]

# Pivot tables

In [207]:
df = pd.read_csv('cars.csv')
df.head()

,YEAR,Make,Model,Size,(kW),Unnamed: 5,TYPE,CITY (kWh/100 km),HWY (kWh/100 km),COMB (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),COMB (Le/100 km),(g/km),RATING,(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,n/a,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,n/a,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,A1,B,19.0,21.1,20.0,2.1,2.4,2.2,0,n/a,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,A1,B,16.9,21.4,18.7,1.9,2.4,2.1,0,n/a,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,A1,B,19.3,23.0,21.1,2.2,2.6,2.4,0,n/a,117,7

In [214]:
df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc=np.mean).dropna()

Make    BMW  CHEVROLET   FORD   KIA  MITSUBISHI  NISSAN  SMART       TESLA
YEAR
2015  125.0      104.0  107.0  81.0        49.0    80.0   35.0  320.666667
2016  125.0      104.0  107.0  81.0        49.0    80.0   35.0  409.700000

In [219]:
df.pivot_table(values='(kW)', index='YEAR', columns='Make', aggfunc=[np.mean, np.min], margins=True).dropna().sort_index()

       mean                                                             \
Make    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART       TESLA
YEAR
2015  125.0     104.0  107.0  81.0       49.0   80.0  35.0  320.666667
2016  125.0     104.0  107.0  81.0       49.0   80.0  35.0  409.700000
All   125.0     104.0  107.0  81.0       49.0   80.0  35.0  345.478261

                   amin                                                        \
Make         All    BMW CHEVROLET   FORD   KIA MITSUBISHI NISSAN SMART  TESLA
YEAR
2015  181.428571  125.0     104.0  107.0  81.0       49.0   80.0  35.0  280.0
2016  252.263158  125.0     104.0  107.0  81.0       49.0   80.0  35.0  283.0
All   190.622642  125.0     104.0  107.0  81.0       49.0   80.0  35.0  225.0


Make   All
YEAR
2015  35.0
2016  35.0
All   35.0

# Date functionality in Pandas

In [222]:
import pandas as pd
import numpy as np
pd.Timestamp('09/01/2017 10:09:20AM')

Timestamp('2017-09-01 10:09:20')

In [223]:
pd.Period('2016/01')

Period('2016-01', 'M')

In [224]:
pd.Period('2017/02/10')

Period('2017-02-10', 'D')

In [229]:
t1=pd.Series(list('abc'),[pd.Timestamp('2017/03/01'), pd.Timestamp('2017-03-02'),pd.Timestamp('2017/03/03')])
t1

2017-03-01    a
2017-03-02    b
2017-03-03    c
dtype: object

In [230]:
t2 = pd.Series(list('def'), [pd.Period('2017/10'), pd.Period('2017/11'), pd.Period('2017/12')])
t2

2017-10    d
2017-11    e
2017-12    f
Freq: M, dtype: object

In [231]:
type(t2.index)

pandas.tseries.period.PeriodIndex

In [235]:
d1 = ('2017/09/25', 'Aug 09, 2016', '2014-04-05')
ts3 = pd.DataFrame(np.random.randint(10,100,(3,2)), index=d1, columns=list('ab'))
ts3

               a   b
2017/09/25    46  79
Aug 09, 2016  90  64
2014-04-05    34  82

In [236]:
ts3.index = pd.to_datetime(ts3.index)

In [237]:
ts3

             a   b
2017-09-25  46  79
2016-08-09  90  64
2014-04-05  34  82

In [241]:
pd.to_datetime('4.7.2017', dayfirst=True)

Timestamp('2017-07-04 00:00:00')

In [242]:
pd.Timestamp('2017-09-04') - pd.Timestamp('2017-09-01')

Timedelta('3 days 00:00:00')

In [247]:
pd.Timestamp('2017-09-03') + pd.Timedelta('2D 3H')

Timestamp('2017-09-05 03:00:00')

# Working with Dates in a Dataframe